// #region template
<template>
  <n-form v-model:data="data" :fields="fields" :field-layout="{ span: 12 }" />

  <a-space>
    <n-button type="primary" @click="nPrintRef.print()">通过 ref 实例接口打印</n-button>
  </a-space>

  <NPrint
    ref="nPrintRef"
    :size="data.size === 'custom' ? [`${data.width}mm`, `${data.height}mm`] : data.size"
    :margin="`${data.margin}mm`"
    :padding="`${data.padding}mm`"
    :orientation="data.orientation"
    :paging-mode="data.pagingMode"
    :title="data.title"
    @close="handleClose"
  >
    <template #toolbar="{ print }">
      <n-button type="primary" @click="print">通过 slot 打印</n-button>
    </template>

    <template v-for="index in 2" :key="index">
      <n-print-page>
        <div class="tag">
          <div><svg id="svg" /></div>
          <img style="width: 30mm" :src="qrcodeDataUri" />
        </div>
      </n-print-page>
    </template>
  </NPrint>
</template>

<style lang="less" scoped>
.tag {
  width: 100%;
  height: 100%;
  border: 1pt black solid;
}
</style>
// #endregion template

<script setup>
// #region script

import { FormItemControlType } from "@nbicc/common-components";
import { onMounted, ref, watch } from "vue";
import Jsbarcode from "jsbarcode";
import QRCode from "qrcode";
import NPrint from "../../src/components/n-print/NPrint.vue";

const nPrintRef = ref();

const data = ref({
  size: "custom",
  width: 80,
  height: 60,
  pagingMode: "clip",
  orientation: "landscape"
});
const fields = ref([]);

watch(
  () => ({ size: data.value.size }),
  ({ size }) => {
    const _fields = [
      [
        { name: "size", label: "尺寸", type: FormItemControlType.SELECT, initialValue: "custom" },
        {
          options: [
            { label: "自定义", value: "custom" },
            { label: "A5", value: "A5" },
            { label: "A4", value: "A4" },
            { label: "A3", value: "A3" },
            { label: "B5", value: "B5" },
            { label: "B4", value: "B4" },
            { label: "JIS-B5", value: "JIS-B5" },
            { label: "JIS-B4", value: "JIS-B4" },
            { label: "letter", value: "letter" },
            { label: "legal", value: "legal" },
            { label: "ledger", value: "ledger" }
          ]
        }
      ]
    ];

    if (size === "custom") {
      _fields.push(
        [
          {
            name: "width",
            label: "宽度",
            type: FormItemControlType.INPUT_NUMBER,
            initialValue: 80
          },
          { addonAfter: "mm", min: 20 }
        ],
        [
          {
            name: "height",
            label: "高度",
            type: FormItemControlType.INPUT_NUMBER,
            initialValue: 61
          },
          { addonAfter: "mm", min: 20 }
        ]
      );
    }

    _fields.push(
      [
        {
          name: "margin",
          label: "外边距",
          type: FormItemControlType.INPUT_NUMBER,
          initialValue: 1
        },
        { addonAfter: "mm" }
      ],
      [
        {
          name: "padding",
          label: "内边距",
          type: FormItemControlType.INPUT_NUMBER,
          initialValue: 1
        },
        { addonAfter: "mm" }
      ],
      [
        {
          name: "orientation",
          label: "方向",
          type: FormItemControlType.RADIO_GROUP,
          initialValue: "portrait"
        },
        {
          options: [
            { label: "纵向", value: "portrait" },
            { label: "横向", value: "landscape" }
          ]
        }
      ],
      [
        {
          name: "pagingMode",
          label: "分页模式",
          type: FormItemControlType.RADIO_GROUP,
          initialValue: "auto"
        },
        {
          options: [
            { label: "自动", value: "auto" },
            { label: "裁剪", value: "clip" },
            { label: "紧凑", value: "compact" }
          ]
        }
      ],
      [{ name: "title", label: "标题", type: FormItemControlType.INPUT, initialValue: "打印测试" }]
    );

    fields.value = _fields;
  },
  { immediate: true }
);

const qrcodeDataUri = ref("");
onMounted(() => {
  Jsbarcode("#svg", "bopomofodetenele", {
    width: 1,
    height: 40,
    font: "SimSun"
  });

  QRCode.toString("bopomofodetenele", { type: "svg" }, function (err, string) {
    if (err) throw err;
    qrcodeDataUri.value = `data:image/svg+xml;base64,${btoa(string)}`;
  });
});

function handleClose() {
  console.log("打印窗口关闭");
}

// #endregion script
</script>
