// #region template
<template>
  <n-table
    ref="editableTableRef"
    size="small"
    row-key="id"
    v-model:edited-row-key="editedRowKey"
    :data-source="dataSource"
    :total="total"
    :columns="columns"
    :fields="fields"
    :pagination="false"
    :edit-by-click-row="false"
    editable
    :scroll="{ x: 800 }"
  >
    <template #bodyCell="{ record, column }">
      <template v-if="column.dataIndex === 'operator'">
        <a-space :size="0">
          <n-button type="link" size="small" @click="editableTableRef.editRow(record.id)"
            >编辑</n-button
          >
          <n-button type="link" size="small" @click="editableTableRef.saveEditedRow()"
            >校验并保存</n-button
          >
          <n-button type="link" size="small" @click="editableTableRef.saveEditedRow(false)"
            >直接保存</n-button
          >
          <n-button type="link" size="small" danger @click="editableTableRef.cancelEditedRow()"
            >取消</n-button
          >
        </a-space>
      </template>
      <template v-if="column.dataIndex === 'updatedAt'">
        {{ record.updatedAt?.format("YYYY-MM-DD HH:mm:ss") }}
      </template>
    </template>
  </n-table>
</template>
// #endregion template

<script setup>
// #region script

import { computed, ref, watch } from "vue";
import dayjs from "dayjs";
import { FormItemControlType } from "@nbicc/common-components";
import { requestPosts } from "../../mock";

const dataSource = ref([]);
const total = computed(() => dataSource.value.length);
const editedRowKey = ref();
watch(editedRowKey, () => console.log(editedRowKey.value));

const columns = [
  { title: "Id", dataIndex: "id", fixed: "left", ellipsis: true },
  { title: "Name", dataIndex: "name", sorter: true, ellipsis: true },
  { title: "Description", dataIndex: "description", ellipsis: true },
  { title: "Level", dataIndex: "level", ellipsis: true },
  { title: "Updated At", dataIndex: "updatedAt", ellipsis: true },
  { title: "Operator", dataIndex: "operator", fixed: "right", width: 256 }
];
const fields = ref([
  { name: "name", label: "Name", type: FormItemControlType.INPUT, rules: [{ required: true }] },
  {
    name: "level",
    label: "Level",
    type: FormItemControlType.INPUT_NUMBER,
    rules: [
      {
        validator: async (_, value) => {
          if (value < 233) throw new Error("level 不可小于 233");
        }
      }
    ]
  },
  [
    {
      name: "description",
      label: "Description",
      type: FormItemControlType.TEXT_AREA
    },
    {
      autoSize: { minRows: 2, maxRows: 6 },
      maxlength: 100,
      showCount: true
    }
  ],
  { name: "updatedAt", label: "Updated At", type: FormItemControlType.DATE_PICKER }
]);
const editableTableRef = ref();

async function requestDataSource() {
  const data = await requestPosts(1, 10);
  data.data.forEach((item) => {
    item.createdAt = dayjs(item.createdAt);
    item.updatedAt = dayjs(item.updatedAt);
  });
  dataSource.value = data.data;
}

requestDataSource();

// #endregion script
</script>
