// #region template
<template>
  <div>
    <n-button @click="handleAdd">Add</n-button>
  </div>
  <n-table
    ref="editableTableRef"
    size="small"
    row-key="id"
    v-model:edited-row-key="editedRowKey"
    :data-source="dataSource"
    :total="total"
    :columns="columns"
    :fields="fields"
    :pagination="false"
    editable
  >
    <template #bodyCell="{ record, column }">
      <template v-if="column.dataIndex === 'updatedAt'">
        {{ record.updatedAt?.format("YYYY-MM-DD HH:mm:ss") }}
      </template>
    </template>
  </n-table>
</template>
// #endregion template

<script setup>
// #region script

import { computed, ref, watch } from "vue";
import dayjs from "dayjs";
import { FormItemControlType } from "@nbicc/common-components";
import { requestPosts, requestPost } from "../../mock";

const dataSource = ref([]);
const total = computed(() => dataSource.value.length);
const editedRowKey = ref();
watch(editedRowKey, () => console.log(editedRowKey.value));

const columns = [
  { title: "Id", dataIndex: "id", fixed: "left", ellipsis: true },
  { title: "Name", dataIndex: "name", sorter: true, ellipsis: true },
  { title: "Description", dataIndex: "description", ellipsis: true },
  { title: "Level", dataIndex: "level", ellipsis: true },
  { title: "Updated At", dataIndex: "updatedAt", ellipsis: true }
];
const fields = ref([
  { name: "name", label: "Name", type: FormItemControlType.INPUT, rules: [{ required: true }] },
  { name: "level", label: "Level", type: FormItemControlType.INPUT_NUMBER },
  [
    {
      name: "description",
      label: "Description",
      type: FormItemControlType.TEXT_AREA
    },
    {
      autoSize: { minRows: 2, maxRows: 6 },
      maxlength: 100,
      showCount: true
    }
  ],
  { name: "updatedAt", label: "Updated At", type: FormItemControlType.DATE_PICKER }
]);
const editableTableRef = ref();

async function requestDataSource() {
  const data = await requestPosts(1, 10);
  data.data.forEach((item) => {
    item.createdAt = dayjs(item.createdAt);
    item.updatedAt = dayjs(item.updatedAt);
  });
  dataSource.value = data.data;
}

requestDataSource();

function handleAdd() {
  const record = requestPost();
  record.createdAt = dayjs(record.createdAt);
  record.updatedAt = dayjs(record.updatedAt);

  dataSource.value.push({
    id: dataSource.value[dataSource.value.length - 1].id + 1,
    ...record
  });
}

// #endregion script
</script>
