<script setup>
import { useDrawer } from "@nbicc/common-components";

const props = defineProps({
  subtitle: String
});

const { closeDrawer } = useDrawer();
</script>

<template>
  <n-drawer v-bind="$attrs">
    <h2>{{ props.subtitle }}</h2>
    <template #footer>
      <a-space>
        <a-button @click="closeDrawer">关闭</a-button>
      </a-space>
    </template>
  </n-drawer>
</template>

<style scoped lang="less"></style>
