<script setup>
// #region script

import { useDrawerManager } from "@nbicc/common-components";
import SimpleDrawer from "./simple-drawer.vue";

const { showDrawer } = useDrawerManager();

function openDrawer() {
  showDrawer(SimpleDrawer, { subtitle: "Drawer Body" }, { title: "Drawer Title" });
}

// #endregion script
</script>

// #region template
<template>
  <n-button @click="openDrawer()">打开抽屉</n-button>
</template>
// #endregion template
