<script lang="tsx">
import { TypographyText } from "ant-design-vue";
import { type DefineComponent, defineComponent, ref, toRefs } from "vue";
import type { Ref, VNode, SetupContext, Slot } from "vue";
import { isArray, isNil, isString } from "lodash-es";
import { type NEasyTableProps, nEasyTableProps, type NTableProps } from "./table-types";
import type { NTableEmits, NTableInstance } from "./table-types";
import NTable from "./NTable.vue";
import type { TableProps } from "ant-design-vue/lib/table";

export default defineComponent({
  name: "NEasyTable",
  props: nEasyTableProps() as ReturnType<typeof nEasyTableProps>,
  setup(props, { slots, attrs, expose }: SetupContext<NTableEmits>) {
    const { tableHelper } = toRefs(props);

    const nTableRef = ref() as Ref<NTableInstance>;

    expose({
      saveEditedRow: (...args: Parameters<typeof nTableRef.value.saveEditedRow>) =>
        nTableRef.value.saveEditedRow(...args),
      cancelEditedRow: (...args: Parameters<typeof nTableRef.value.cancelEditedRow>) =>
        nTableRef.value.cancelEditedRow(...args),
      editRow: (...args: Parameters<typeof nTableRef.value.editRow>) =>
        nTableRef.value.editRow(...args)
    });

    return () => (
      <NTable
        ref={nTableRef}
        {...attrs}
        data-source={tableHelper.value.dataSource}
        columns={props.columns}
        row-key={tableHelper.value.rowKey}
        pagination={tableHelper.value.antdvPaginationParams}
        loading={tableHelper.value.loading}
      >
        {slots}
      </NTable>
    );
  }
}) as DefineComponent<TableProps & Partial<NTableProps & NEasyTableProps>>;

/**
 * 默认的省略处理, 用于处理表格中的单元格内容过长时, 进行省略处理.
 * @deprecated 性能问题
 * @param bodyCellSlot
 */
// eslint-disable-next-line @typescript-eslint/no-unused-vars
function defaultEllipsisBodyCell(bodyCellSlot?: Slot): Slot {
  return (...args: Parameters<Slot>): Array<VNode> => {
    const result = bodyCellSlot?.(...args);

    // 如果存在有效子节点, 则不进行省略处理
    if (isArray(result) && result.filter((child) => !isEmptyVN(child)).length > 0) {
      return result;
    } else {
      const { record, column } = args[0];
      return [
        <TypographyText
          ellipsis={{ tooltip: true }}
          content={record[column.dataIndex]?.toString() || "-"}
        />
      ];
    }
  };
}

/**
 * 判断 VNode 是否为空, 用于判断是否需要进行省略处理.
 * @param vn
 */
function isEmptyVN(vn: VNode): boolean {
  if (isArray(vn.children)) return vn.children.length <= 0;
  else if (isString(vn.children)) return !!vn.children;
  else if (isNil(vn.children)) return true;
  else return isNil(vn.component);
}
</script>

<style lang="scss">
.n-easy-table {
  width: 100%;
  height: 100%;

  .ant-pagination.ant-table-pagination {
    margin-bottom: 0;
  }
}
</style>
