// #region template
<template>
  <a-form
    :model="searchForm.data"
    layout="inline"
    style="margin-bottom: 16px; transition: height 400ms"
    :style="{ height: expanded ? '256px' : '64px' }"
  >
    <a-form-item name="name" label="名称">
      <a-input v-model:value="searchForm.data.name" placeholder="请输入" />
    </a-form-item>
    <a-form-item name="description" label="描述">
      <a-input v-model:value="searchForm.data.description" placeholder="请输入" />
    </a-form-item>
    <a-form-item style="margin-right: 0">
      <a-space>
        <a-button @click="searchForm.reset">重置</a-button>
        <a-button type="primary" @click="searchForm.search">查询</a-button>
        <a-switch v-model:checked="expanded" checked-children="折叠" un-checked-children="展开" />
        <a-switch v-model:checked="visible" checked-children="显示" un-checked-children="隐藏" />
      </a-space>
    </a-form-item>
  </a-form>
  <NEasyTable
    v-show="visible"
    :table-helper="tableHelper"
    :columns="columns"
    @change="onChange"
    :row-selection="rowSelection"
    :scroll="{ x: 1200 }"
  />
</template>
// #endregion template

<script setup>
// #region script

import { ref } from "vue";
import { useAntDesignVueTableHelper } from "@nbicc/common-components";
import { requestPosts } from "../mock";

// 初始化 table helper
const { tableHelper, columns, onChange, rowSelection, searchForm } = useAntDesignVueTableHelper(
  requestDataSource,
  [
    {
      title: "Id",
      dataIndex: "id",
      fixed: "left",
      ellipsis: true
    },
    {
      title: "Name",
      dataIndex: "name",
      sorter: true,
      ellipsis: true
    },
    {
      title: "Description",
      dataIndex: "description",
      ellipsis: true
    },
    {
      title: "Operator",
      dataIndex: "operator",
      ellipsis: true
    }
  ],
  "id"
);

// 加载数据
searchForm.search();

// 模拟请求
// eslint-disable-next-line @typescript-eslint/no-unused-vars
async function requestDataSource(pagination, filter, sorter) {
  const { current, pageSize } = pagination;
  const { data, total } = await requestPosts(current, pageSize, 1000);
  return { data, total };

  // 测试空数据
  // return { data: [], total: 0 };
}

const expanded = ref(false);
const visible = ref(true);

// #endregion script
</script>
