<script lang="tsx">
import { Modal, Spin, type ModalProps } from "ant-design-vue";
import {
  computed,
  type DefineComponent,
  defineComponent,
  inject,
  onMounted,
  provide,
  type Ref,
  ref,
  Teleport
} from "vue";
import {
  type NModalContainerProps,
  NModalContainerProvideKey,
  NModalParentTeleportKey,
  type NModalProps
} from "./modal-types";
import { isNil } from "lodash-es";
import { nDrawerProps } from "../n-drawer";

export default defineComponent({
  name: "NModal",
  props: nDrawerProps(),
  setup(props, { slots, attrs }) {
    // 从上级组件中获取 teleportTarget, 如果没有会使用 ant-design-vue Modal 从 getPopupContainer 获取的元素
    const teleportTarget = inject<Ref<HTMLElement | undefined>>(NModalParentTeleportKey, ref());

    const modalProps = inject<ModalProps & Partial<NModalContainerProps>>(
      NModalContainerProvideKey,
      {}
    );
    const mergedProps = computed(() => ({ ...modalProps, ...props, ...attrs }));

    // 为下级组件提供 teleportTarget
    const providedTeleportTarget = ref<HTMLElement>();
    provide(NModalParentTeleportKey, providedTeleportTarget);

    const loadedData = ref<Record<string, any>>();
    onMounted(async () => {
      try {
        loadedData.value = (await mergedProps.value.initialData?.()) ?? {};
      } catch (e) {
        loadedData.value = {};
        throw e;
      }
    });
    const defaultSlot = () => [
      isNil(loadedData.value) ? (
        <div class="n-modal-loading-wrapper">
          <Spin tip={mergedProps.value.loadingText} />
        </div>
      ) : (
        slots.default?.(loadedData.value)
      ),
      <div ref={providedTeleportTarget} />
    ];

    return () => {
      const _slots = isNil(loadedData.value)
        ? { default: defaultSlot }
        : { ...slots, default: defaultSlot };
      const modal = <Modal {...mergedProps.value}>{_slots}</Modal>;

      return isNil(teleportTarget.value) ? modal : <Teleport to={teleportTarget}>{modal}</Teleport>;
    };
  }
}) as DefineComponent<ModalProps & Partial<NModalProps>>;
</script>

<style scoped lang="less">
.n-drawer-loading-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
