<script lang="tsx">
import type { ModalProps } from "ant-design-vue";
import { type DefineComponent, defineComponent, onMounted, provide, reactive, toRefs } from "vue";
import {
  type NModalContainerProps,
  NModalContainerProvideKey,
  type NModalContext,
  NModalContextKey
} from "./modal-types";
import { nDrawerContainerProps } from "../n-drawer";

export default defineComponent({
  name: "NModalContainer",
  props: nDrawerContainerProps(),
  setup(props, { slots, attrs }) {
    const { beforeOpen, beforeClose, initialData } = toRefs(props);
    async function changeVisibleValidate(visible: boolean): Promise<boolean> {
      return visible ? (await beforeOpen.value()) ?? true : (await beforeClose.value()) ?? true;
    }

    const modalProps = reactive({
      initialData: initialData.value,
      ...attrs,
      visible: false,
      "onUpdate:visible": async (visible) => {
        if (!(await changeVisibleValidate(visible))) return;

        modalProps.visible = visible;
      }
    }) as ModalProps & Partial<NModalContainerProps>;
    provide(NModalContainerProvideKey, modalProps);
    onMounted(async () => (await changeVisibleValidate(true)) && (modalProps.visible = true));

    const provideModalMethods: NModalContext = {
      closeModal: async () => {
        if (!(await changeVisibleValidate(false))) return;
        modalProps.visible = false;
      },
      setModalProps: (props) => Object.assign(modalProps, props)
    };
    provide(NModalContextKey, provideModalMethods);

    return () => slots.default?.();
  }
}) as DefineComponent<
  Omit<ModalProps & Partial<NModalContainerProps>, "visible" | "onUpdate:visible">
>;
</script>

<style scoped lang="less"></style>
