<template>
  <n-select
    show-search
    :filter-option="false"
    v-bind="$attrs"
    :options="selectHelper.optionSource"
    :open="open"
    :field-names="fieldNames"
    @scroll-to-bottom="selectHelper.nextPage()"
    @search="onSearchValueChange"
    @dropdownVisibleChange="handleDropdownVisibleChange"
    :loading="selectSuffixLoading"
  >
    <template v-for="(_, key) in $slots" v-slot:[key]="props">
      <slot :name="key" v-bind="props || {}"></slot>
    </template>
    <template #dropdownRender="{ menuNode: menu }">
      <component :is="menu" />
      <div
        class="n-auto-load-select__dropdown-footer ant-select-item ant-select-item-option ant-select-item-option-disabled"
      >
        <span class="dropdown-footer__loading">
          <template v-if="selectHelper.loading">
            <LoadingOutlined class="dropdown-footer__loading-icon" spin />
            <span class="ant-select-item-option-content">载入数据中...</span>
          </template>
        </span>

        <span class="dropdown-footer__total"> 共计 {{ selectHelper.total }} 条数据 </span>
      </div>
    </template>
  </n-select>
</template>

<script lang="ts">
export default {
  name: "NAutoLoadSelect"
};
</script>
<script lang="ts" setup>
import { defineProps, ref, toRef, toRefs, watch } from "vue";
import type { Ref } from "vue";
import { LoadingOutlined } from "@ant-design/icons-vue";
import NSelect from "./NSelect.vue";
import { useAutoLoadSelectHelper } from "./auto-load-select-helper";
import { nAutoLoadSelectProps } from "./select-types";

const props = defineProps(nAutoLoadSelectProps());
const { pageSize, pageStartIndex, fieldNames, loadRecord } = toRefs(props);

const { selectHelper, onSearchValueChange } = useAutoLoadSelectHelper(
  loadRecord.value,
  fieldNames?.value?.value || "value",
  {
    pageStartIndex: pageStartIndex.value,
    pageSize: pageSize.value
  }
);

const open = ref(false) as Ref<boolean>;
// 用于控制是否显示选择框的后缀 loading 图标
const selectSuffixLoading = ref(false) as Ref<boolean>;
watch(toRef(selectHelper, "loading"), (loading) => {
  if (loading) return;

  // selectHelper 加载完成后, 打开下拉框并隐藏选择框的后缀 loading 状态.
  open.value = true;
  selectSuffixLoading.value = false;
});
function handleDropdownVisibleChange(visible: boolean) {
  // 打开下拉框时, 使用空字符串作为搜索值, 以便显示所有选项.
  if (visible) onSearchValueChange("");
  else open.value = false;

  selectSuffixLoading.value = visible;
}
</script>

<style lang="less">
.n-auto-load-select__dropdown-footer {
  font-size: 12px;
  column-gap: 8px;

  .dropdown-footer__loading {
    flex: 1 1 auto;

    display: inline-flex;
    align-items: center;
    column-gap: 8px;

    width: 0;

    .dropdown-footer__loading-icon {
      flex: 0 0 auto;
      line-height: 1;
    }

    .ant-select-item-option-content {
      flex: 1 1 auto;
    }
  }

  .dropdown-footer__total {
    flex: 0 0 auto;
    text-align: right;
  }
}
</style>
