<script lang="tsx">
import { Select, Empty } from "ant-design-vue";
import { computed, defineComponent, onUnmounted, toRefs } from "vue";
import type { SetupContext } from "vue";
import { useScrollToBottom } from "./use-scroll-to-bottom";
import { useSearch } from "./use-search";
import { isArray, isNil } from "lodash-es";
import type { DefaultOptionType, RawValueType } from "ant-design-vue/lib/vc-select/Select";
import type { DropdownObject } from "ant-design-vue/lib/vc-select/BaseSelect";
import { nSelectProps } from "./select-types";
import type { NSelectEmits } from "./select-types";

export default defineComponent({
  name: "NSelect",
  props: nSelectProps(),
  setup(props, { slots, attrs, emit }: SetupContext<NSelectEmits>) {
    const { value, showSearch, options, placeholderOptions, fieldNames } = toRefs(props);

    // const fieldLabelKey = computed<string>(() => fieldNames.value?.label || "label");
    const fieldValueKey = computed<string>(() => fieldNames.value?.value || "value");

    const { throttledOnScrollToBottom, unuse } = useScrollToBottom(
      () => emit("scrollToBottom"),
      props.onPopupScroll
    );
    onUnmounted(unuse);
    const { search } = useSearch((value: string) => emit("search", value), props.onSearch);

    const optionMap = computed<Record<RawValueType, DefaultOptionType>>(() => {
      const valueKey = fieldValueKey.value;

      return (options.value ?? []).reduce(
        (acc: Record<RawValueType, DefaultOptionType>, item: DefaultOptionType) => {
          if (!isNil(item[valueKey])) acc[item[valueKey]] = item;
          return acc;
        },
        {}
      );
    });

    // 过滤 options 中的 value 与 valuePlaceholder 中的 value 重复的项, 避免重复渲染.
    const paddedOptions = computed<Array<DefaultOptionType>>(() => {
      const _placeholderOptions = isArray(placeholderOptions.value)
        ? placeholderOptions.value
        : [placeholderOptions.value];

      return (
        options.value.concat(
          _placeholderOptions.filter((item) => isNil(optionMap.value[item[fieldValueKey.value]]))
        ) ?? []
      );
    });

    return () => {
      return (
        <Select
          class="n-select"
          fieldNames={fieldNames.value}
          {...attrs}
          // 由于 valuePlaceholder 的存在, 即使 options 为空时 paddedOptions 也有可能不为空, 所以需要自定义下拉菜单渲染空数据提示.
          options={paddedOptions.value}
          onUpdate:value={props["onUpdate:value"]}
          value={value.value}
          showSearch={showSearch.value}
          onPopupScroll={throttledOnScrollToBottom}
          onSearch={search}
        >
          {{
            ...slots,
            // 自定义下拉菜单渲染, 处理 options 为空且 valuePlaceholder 不为空的情况(需要渲染 notFoundContent).
            dropdownRender: ({ menuNode, props }: DropdownObject) => {
              if (isArray(options.value) && options.value.length === 0) {
                return slots.notFoundContent ? slots.notFoundContent() : renderEmpty();
              } else {
                return slots.dropdownRender ? slots.dropdownRender({ menuNode, props }) : menuNode;
              }
            }
          }}
        </Select>
      );
    };
  }
});

/**
 * 渲染空状态
 */
function renderEmpty() {
  return <Empty image={Empty.PRESENTED_IMAGE_SIMPLE} />;
}
</script>

<style lang="less">
.n-select {
  width: 100%;
}

.n-select__ignored-option {
  display: none;
}
</style>
