<script lang="tsx">
import { defineComponent } from "vue";
import type { SetupContext } from "vue";
import { isNil } from "lodash-es";
import { nPageLayoutProps } from "./page-layout-types";
import type { NPageLayoutEmits, NPageLayoutProps } from "./page-layout-types";

export default defineComponent<NPageLayoutProps>({
  name: "NPageLayout",
  props: nPageLayoutProps() as any,
  setup(props, { slots }: SetupContext<NPageLayoutEmits>) {
    return () => {
      const defaultSlot = slots.default?.();
      const header = slots.header?.();
      const content = slots.content?.();

      return (
        <div class="n-page-layout">
          {isNil(defaultSlot) ? undefined : (
            <div class="n-page-layout__default-slot">{defaultSlot}</div>
          )}
          {isNil(header) ? undefined : <div class="n-page-layout__header">{header}</div>}
          {isNil(content) ? undefined : <div class="n-page-layout__content">{content}</div>}
        </div>
      );
    };
  }
});
</script>

<style lang="less">
.n-page-layout {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  .n-page-layout__header {
  }

  .n-page-layout__content {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    overflow: hidden;
  }
}
</style>
