<script setup>
import { ref, onMounted } from "vue";
// Special api to mount the app
import { createApp } from "whyframe:app";
import antd from "ant-design-vue";
import CommonComponents, { StorageManager } from "../../../src/main";

const el = ref();

onMounted(() => {
  // Mount the app to the ref
  createApp(el.value, {
    enhanceApp: (app) => {
      app.use(antd);
      app.use(CommonComponents);

      StorageManager.recovery(localStorage.getItem("commonComponents"));
      window.addEventListener("beforeunload", () =>
        localStorage.setItem("commonComponents", StorageManager.toString())
      );
    }
  });
});
</script>

<template>
  <div class="iframe-container" ref="el"></div>
</template>

<style>
@import "ant-design-vue/dist/antd.variable.min.css";
.iframe-container {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  overflow: auto;
}
</style>
