// #region template
<template>
  <NSpecProvider>
    <NPageLayout>
      <template #header>
        <NEasyForm
          v-model:data="searchForm.data"
          :fields="fields"
          @search="searchForm.search"
        ></NEasyForm>
      </template>
      <template #content>
        <NToolbar
          v-model:table-columns="columns"
          :disabled-column-keys="['id', 'operator']"
          :export-as-file="() => requestPosts(1, 1, 1000)"
        >
          <NButton type="primary" @click="handle">按钮</NButton>
          <template #secondary>
            <NButton type="primary">
              按钮
              <template #icon>
                <FilterOutlined />
              </template>
            </NButton>
            <NButton type="primary" danger>按钮</NButton>
            <NButton type="primary" ghost>按钮</NButton>
          </template>
        </NToolbar>

        <NEasyTable
          :table-helper="tableHelper"
          :columns="columns"
          @change="onChange"
          :row-selection="rowSelection"
          show-number-column
        />
      </template>
    </NPageLayout>
  </NSpecProvider>
</template>
// #endregion template

<script setup>
/* eslint-disable */

// #region script

import { ref } from "vue";
import { FilterOutlined } from "@ant-design/icons-vue";
import { useAntDesignVueTableHelper, FormItemControlType } from "@nbicc/common-components";
import { isEmpty, isNil, isObject, isString } from "lodash-es";
import { requestPosts } from "../mock";

// 初始化 table helper
const { tableHelper, columns, onChange, rowSelection, searchForm } = useAntDesignVueTableHelper(
  requestDataSource,
  [
    {
      title: "Id",
      dataIndex: "id",
      fixed: "left",
      ellipsis: true
    },
    { title: "Name", dataIndex: "name", sorter: true, ellipsis: true },
    { title: "Author", dataIndex: "author", ellipsis: true },
    { title: "Title", dataIndex: "title", ellipsis: true },
    {
      title: "Description",
      dataIndex: "description",
      ellipsis: true
    },
    { title: "Level", dataIndex: "level", ellipsis: true },
    { title: "Created At", dataIndex: "createdAt", ellipsis: true },
    { title: "Updated At", dataIndex: "updatedAt", ellipsis: true },
    {
      title: "Operator",
      dataIndex: "operator",
      ellipsis: true
    }
  ],
  "id"
);

const fields = ref([
  {
    name: "input",
    label: "输入框输入框输入框输入框",
    type: FormItemControlType.INPUT,
    initialValue: "输入框初始值"
  },
  { name: "input-number", label: "数字输入框", type: FormItemControlType.INPUT_NUMBER },
  [
    { name: "select", label: "下拉框", type: FormItemControlType.SELECT },
    {
      options: [
        {
          label: "option1",
          value: "option1"
        },
        { label: "option2", value: "option2" },
        { label: "option3", value: "option3" }
      ]
    }
  ],
  { name: "date-picker", label: "日期选择器", type: FormItemControlType.DATE_PICKER },
  { name: "time-picker", label: "时间选择器", type: FormItemControlType.TIME_PICKER },
  { name: "switch", label: "开关", type: FormItemControlType.SWITCH },
  [
    { name: "radio", label: "单选框", type: FormItemControlType.RADIO_GROUP },
    {
      options: [
        {
          label: "option1",
          value: "option1"
        },
        { label: "option2", value: "option2" },
        { label: "option3", value: "option3" }
      ]
    }
  ],
  [
    { name: "checkbox", label: "多选框", type: FormItemControlType.CHECKBOX_GROUP },
    {
      options: [
        {
          label: "option1",
          value: "option1"
        },
        { label: "option2", value: "option2" },
        { label: "option3", value: "option3" }
      ]
    }
  ],
  { name: "textarea", label: "文本域", type: FormItemControlType.TEXT_AREA },
  { name: "slider", label: "滑块", type: FormItemControlType.SLIDER },
  { name: "tree-select", label: "树选择器", type: FormItemControlType.TREE_SELECT },
  { name: "cascader", label: "级联选择器", type: FormItemControlType.CASCADER }
]);

searchForm.search();

// 模拟请求
async function requestDataSource(pagination, filter, sorter) {
  console.info("分页参数: ", pagination);
  console.info("查询参数: ", filter);
  console.info("排序参数: ", sorter);
  const { current, pageSize } = pagination;
  const { data, total } = await requestPosts(current, pageSize, 1000);
  return { data, total };
  // 测试空数据
  // return { data: [], total: 0 };
}

/**
 * 搜索表单值为空时，不触发搜索.
 *
 * 表单项值为 null、undefined、空字符串 "" 时，都认为是空值.
 */
function handleBeforeSearch(data) {
  const keys = Object.keys(data);
  for (let i = keys.length; i--; ) {
    const value = data[keys[i]];

    if (isString(value)) {
      if (value.trim().length > 0) return true;
    } else if (isObject(value) && !isEmpty(value)) return true;
    else if (!isNil(value)) return true;
  }

  return false;
}

function handle() {
  console.log(searchForm.data);
}

// #endregion script
</script>
