<script lang="tsx">
import { Form, Row, Col, type FormProps } from "ant-design-vue";
import type { FormInstance } from "ant-design-vue";
import { computed, type DefineComponent, defineComponent, provide, ref, toRefs, watch } from "vue";
import type { Ref, SetupContext } from "vue";
import { NBaseFormExternalFormDataKey, type NBaseFormProps, nBaseFormProps } from "./form-types";
import type { NFormEmits } from "./form-types";
import { AntDesignVueFormItem, useAntDesignVueFormHelper } from "./ant-design-vue-adaptive";
import { isNil, merge } from "lodash-es";
import {
  generateFormItemElement,
  generateFormItemLayoutProps,
  generateFormItemStatusProps,
  generateFormItemWrapperLayoutProps
} from "./_element-utils";
import type { FormLabelAlign } from "ant-design-vue/lib/form/interface";
import type { FormItem } from "../form-helper";
import { generateFormHelperPreset } from "./utils";
import { throughExposeMethods } from "./utils/through-expose-methods";
import { AntDesignVueFormValidator } from "./ant-design-vue-adaptive/ant-design-vue-form-validator";

export default defineComponent({
  name: "NBaseForm",
  props: nBaseFormProps(),
  setup(props, { slots, attrs, expose, emit }: SetupContext<NFormEmits>) {
    const { fields, fieldLayout, fieldStatus, data, specConfig } = toRefs(props);

    const formRef = ref() as Ref<FormInstance>;

    const _data = ref({}) as Ref<Record<string, any>>;

    const { formHelper } = useAntDesignVueFormHelper(
      // 表单项值变化时，同步到 _data 和 外部
      (name, value) => {
        _data.value[name] = value;
        emit("update:data", { ...formHelper.rawData });
      },
      (error) => emit("validateError", error),
      [generateFormHelperPreset(specConfig.value)],
      new AntDesignVueFormValidator(formRef)
    );

    // 监听 data 的变化, 同步到 _data 和 formHelper 中.
    watch(
      data,
      (value) => {
        _data.value = { ...value } || {};
        formHelper.setRawData(_data.value);
      },
      { immediate: true, deep: true }
    );

    //  使 fields 支持响应式, 以便在外部动态修改 fields.
    const _fields = ref() as Ref<Array<FormItem>>;
    watch(
      fields,
      (value) => (formHelper.setFields(value || []), (_fields.value = formHelper.fields)),
      /**
       * 立即执行一次, 将空值的表单项的值设置为 `initialValue`. 见 {@link FormHelper.setFields}
       */
      { immediate: true, deep: true }
    );

    // 使 fieldLayout 支持响应式
    const _fieldLayout = computed(() =>
      merge({ span: 24 }, specConfig.value.fieldLayout, fieldLayout.value || {})
    );

    // 使 fieldStatus 支持响应式
    const _fieldStatus = computed(() =>
      merge({ disabled: false, readOnly: false, fields: {} }, fieldStatus.value || {})
    );

    /**
     * 供外部使用的表单数据代理对象.
     * **该对象仅作为代理使用不会存储数据.**
     *
     * * 从对象中取值时, 会返回内部表单数据.
     * * 将值赋予对象时, 将根据属性名是否为预先在 {@link fields} 中设置做出不同的行为.
     *   * 预先设置过时: 可以直接调用 {@link formHelper.setField} 更新表单项. `setField` 将自动更新内部数据并向外部同步.
     *   * 未预先设置过时: 需要手动修改 {@link _data} 和 {@link formHelper.rawData} 中属性对应的值. 并且还需要手动触发 data 更新事件.
     */
    const externalFormData = new Proxy(
      {},
      {
        get: (_, propName) => _data.value[propName as string],
        set(_, propName: string, value) {
          if (isNil(formHelper.getField(propName))) {
            _data.value[propName] = value;
            formHelper.setRawData(_data.value);
            emit("update:data", { ...formHelper.rawData });
          } else {
            formHelper.setField(propName, value);
          }

          return true;
        }
      }
    );
    /**
     * 向内部的 {@link NFormItem} 提供, 以让 slot 访问到 {@link externalFormData}
     */
    provide(NBaseFormExternalFormDataKey, externalFormData);

    expose({
      ...throughExposeMethods(formRef, [
        "clearValidate",
        "resetFields",
        "scrollToField",
        "validate",
        "validateFields"
      ]),
      resetFields: (...args: Array<any>) => {
        formRef.value.resetFields(...args);
        formHelper.reset();
      },
      setField: (name: string, value: any) => formHelper.setField(name, value),
      getFormData: () => externalFormData
    });

    return () => {
      const fields = _fields.value as Array<AntDesignVueFormItem>;
      const formItemLayoutMap = generateFormItemLayoutProps(fields, _fieldLayout.value);
      const formItemStatusMap = generateFormItemStatusProps(fields, _fieldStatus.value);
      const formItems = fields.map((field) => (
        <Col class="n-form__grid_col" {...formItemLayoutMap[field.options.name]}>
          {generateFormItemElement(
            field as AntDesignVueFormItem,
            slots,
            externalFormData,
            formItemStatusMap[field.options.name]
          )}
        </Col>
      ));
      const formItemWrapperLayout = generateFormItemWrapperLayoutProps(_fieldLayout.value);

      return (
        <Form
          class="n-form"
          ref={formRef}
          model={_data.value}
          colon={specConfig.value.colon}
          {...attrs}
          labelCol={attrs.labelCol || { flex: specConfig.value.labelWidth }}
          labelAlign={(attrs.labelAlign as FormLabelAlign) || specConfig.value.labelAlign}
        >
          <Row class="n-form__grid_row" {...formItemWrapperLayout}>
            {formItems}
          </Row>
        </Form>
      );
    };
  }
}) as DefineComponent<FormProps & Partial<NBaseFormProps>>;
</script>

<style lang="scss">
@use "../common/styles/mixins";

.n-form {
  // 修复 ant-design-vue 的样式问题
  .ant-input-number,
  .ant-picker {
    width: 100%;
  }

  /* 覆盖 Ant Design Vue Form 组件的样式, 以支持 label 的截断省略显示 */
  .ant-form-item-label > label {
    display: block;
    width: 100%;
    padding-right: 16px;
    line-height: 32px;

    @include mixins.text-overflow-ellipsis;

    &::after {
      position: absolute;
      right: 0;
    }
  }

  .n-form__grid_row {
    width: 100%;
  }
}
</style>
