<script lang="tsx">
import type { FormProps } from "ant-design-vue";
import { NButton } from "../n-button";
import { NSpace } from "../n-space";
import { DownOutlined, UpOutlined, SearchOutlined, RedoOutlined } from "@ant-design/icons-vue";
import {
  computed,
  defineComponent,
  onMounted,
  ref,
  toRefs,
  watch,
  withKeys,
  readonly,
  nextTick
} from "vue";
import type { Ref, SetupContext, DefineComponent } from "vue";
import { useExpandAdaptiveHeight } from "./use-expand-adaptive-height";
import type { NBaseFormInstance, NEasyFormEmits, NEasyFormProps, NFormProps } from "./form-types";
import { nEasyFormProps } from "./form-types";
import NBaseForm from "./NBaseForm.vue";
import { useResponsive, useSpecInject } from "../utils/hooks";
import { completionExpandRows } from "./utils/reponsive-utils";
import { throughExposeMethods } from "./utils/through-expose-methods";

export default defineComponent({
  name: "NEasyForm",
  props: nEasyFormProps(),
  setup(props, { attrs, slots, emit, expose }: SetupContext<NEasyFormEmits>) {
    const { easyForm: EasyFormSpecConfig } = useSpecInject("form");

    const { defaultExpandRowCount, beforeSearch, data } = toRefs(props);
    const expanded = ref(false);

    const _data = ref() as Ref<Record<string, any>>;
    watch(
      data,
      () => {
        _data.value = { ...data.value } || {};
        emit("change", readonly(_data.value));
      },
      { immediate: true, deep: true }
    );

    const _beforeSearch = computed(
      () => beforeSearch.value ?? EasyFormSpecConfig.value.beforeSearch
    );

    const containerRef = ref() as Ref<HTMLDivElement>;

    /***************************************** 适配高度 *******************************************/
    const { breakPoint } = useResponsive();
    // 默认显示的行数
    const _defaultExpandRowCount = computed(
      () =>
        completionExpandRows(
          defaultExpandRowCount.value ?? EasyFormSpecConfig.value.defaultExpandRowCount
        )[breakPoint.value]
    );
    // 展开高度和总行数
    const { expandHeight, rowMaxHeightList } = useExpandAdaptiveHeight(
      containerRef,
      expanded,
      _defaultExpandRowCount
    );

    const formRef = ref() as Ref<NBaseFormInstance>;
    const handleSearch = async () => {
      // 验证表单
      await formRef.value.validate();
      // 前置 hook 返回 false 或抛出异常时, 不触发 search 事件
      const _beforeSearchValue = await _beforeSearch.value(_data.value);
      if (_beforeSearchValue === false) return;

      syncFormData();
      emit("search");
    };
    const handleReset = async () => {
      formRef.value.resetFields();
      syncFormData();

      await nextTick();
      emit("reset");
    };
    const syncFormData = () => emit("update:data", _data.value);
    expose({
      ...throughExposeMethods(formRef, [
        "clearValidate",
        "resetFields",
        "scrollToField",
        "validate",
        "validateFields",
        "setField",
        "getFormData"
      ]),
      search: handleSearch,
      reset: handleReset,
      syncFormData
    });

    /**
     * data 仅在点击搜索按钮时更新, 但当 initialValue 存在时, 需要在初始化时给 data 设置在 fields 中配置的 initialValue
     */
    onMounted(() => syncFormData());

    return () => {
      return (
        <div class="n-easy-form" ref={containerRef}>
          <NBaseForm
            ref={formRef}
            {...attrs}
            /**
             * 注: withKeys 是一个非公开函数.
             * @see https://github.com/vuejs/core/issues/3827#issuecomment-847850757
             */
            specConfig={{
              ...EasyFormSpecConfig.value,
              events: { onKeyup: withKeys(handleSearch, ["enter"]) }
            }}
            data={_data.value}
            onUpdate:data={(data) => {
              _data.value = data;
              emit("change", readonly(_data.value));
            }}
            class="n-easy-form__main-section"
            style={{ height: `${expandHeight.value}px` }}
          >
            {{ ...slots }}
          </NBaseForm>

          <div
            class="n-easy-form__expand-button"
            // 当表单项总行数小于等于默认展开行数时, 隐藏展开按钮
            style={{
              visibility:
                rowMaxHeightList.value.length > _defaultExpandRowCount.value ? "visible" : "hidden"
            }}
          >
            <NButton type="text" onClick={() => (expanded.value = !expanded.value)}>
              {expanded.value ? (
                <>
                  折叠 <UpOutlined />
                </>
              ) : (
                <>
                  展开 <DownOutlined />
                </>
              )}
            </NButton>
          </div>

          <div class="n-easy-form__actions">
            <NSpace>
              <NButton type="primary" onClick={handleSearch} data-n-role="search-button">
                {{ default: () => "查询", icon: () => <SearchOutlined /> }}
              </NButton>
              <NButton type="primary" secondary onClick={handleReset} data-n-role="reset-button">
                {{ default: () => "重置", icon: () => <RedoOutlined /> }}
              </NButton>
            </NSpace>
          </div>
        </div>
      );
    };
  }
}) as DefineComponent<FormProps & Partial<NFormProps & NEasyFormProps>>;
</script>

<style lang="less">
.n-easy-form {
  display: flex;

  column-gap: 8px;

  .n-easy-form__main-section {
    flex: 1 1 auto;

    overflow: hidden;

    transition: height 400ms ease-in-out;
  }
}
</style>
