<script lang="tsx">
import { FormItem } from "ant-design-vue";
import { computed, defineComponent, inject, toRefs } from "vue";
import type { DefineComponent } from "vue";
import { NBaseFormExternalFormDataKey, type NFormItemProps, nFormItemProps } from "./form-types";
import { isEmpty, isFunction, merge } from "lodash-es";
import {
  generateFormItemControlElement,
  generateFormItemControlRawElement
} from "./_element-utils";
import { isValidElement } from "../utils/is-valid-element";

export default defineComponent({
  name: "NFormItem",
  props: nFormItemProps(),
  setup(props, { slots, attrs }) {
    const externalFormData = inject<Record<string, any>>(NBaseFormExternalFormDataKey, {});

    const { field, status, validateInfo } = toRefs(props);

    const _status = computed(() => merge({ disabled: false, readOnly: false }, status.value ?? {}));

    return () => {
      const _slots: Record<string, any> = {
        default: () => {
          // 优先使用 slot
          if (isFunction(slots["default"])) {
            const slot = slots["default"];
            const node = slot({
              field: field.value,
              formData: externalFormData,
              status: _status.value
            });

            if (!isEmpty(node) && isValidElement(node)) return node;
          }

          const _field = field.value;
          return _status.value.readOnly
            ? generateFormItemControlRawElement(_field.antDesignVueControl)
            : generateFormItemControlElement(_field.options.name, _field.antDesignVueControl);
        }
      };

      /**
       * slot中的label优先级最高, 但 label 属性存在时 antdv 会忽略 label 的 slot.
       * 所以需要将 label 属性删除, 并将 label 的 slot 放到 _slots 中.
       */
      const _attrs = { ...attrs };
      if (isFunction(slots["label"])) {
        _attrs.label = undefined;

        const slot = slots["label"];
        _slots["label"] = () =>
          slot({ field: field.value, formData: externalFormData, status: _status.value });
      }

      /**
       * slots 中的 labelSuffix 和 labelPrefix 优先级最高.
       */
      const labelSuffix = slots["labelSuffix"] ?? field.value.options.labelSuffix;
      const labelPrefix = slots["labelPrefix"] ?? field.value.options.labelPrefix;
      if (isFunction(labelSuffix) || isFunction(labelPrefix)) {
        _attrs.label = undefined;

        _slots["label"] = () => (
          <span class="n-form-item__label-wrap">
            {labelPrefix && <span>{labelPrefix({ field: field.value })}</span>}
            <span class="n-form-item__label">{field.value.options.label}</span>
            {labelSuffix && <span>{labelSuffix({ field: field.value })}</span>}
          </span>
        );
      }

      return (
        <FormItem {...field.value!.options} {..._attrs} {...validateInfo.value}>
          {_slots}
        </FormItem>
      );
    };
  }
}) as DefineComponent<Partial<NFormItemProps>>;
</script>

<style lang="scss">
@use "../common/styles/mixins";

.n-form-item__label-wrap {
  max-width: 100%;
  display: inline-flex;

  & > span {
    flex: 0 0 auto;
  }

  .n-form-item__label {
    flex: 1 1 auto;
    @include mixins.text-overflow-ellipsis;
  }
}
</style>
