<script lang="tsx">
import { type DefineComponent, defineComponent, ref } from "vue";
import type { Ref, SetupContext } from "vue";
import { type NBaseFormInstance, type NFormProps, nFormProps } from "./form-types";
import type { NFormEmits } from "./form-types";
import { useSpecInject } from "../utils/hooks";
import NBaseForm from "./NBaseForm.vue";
import { throughExposeMethods } from "./utils/through-expose-methods";
import type { FormProps } from "ant-design-vue";

export default defineComponent({
  name: "NForm",
  props: nFormProps(),
  setup(props, { slots, attrs, expose }: SetupContext<NFormEmits>) {
    const { form: FormSpecConfig } = useSpecInject("form");

    const formRef = ref() as Ref<NBaseFormInstance>;
    expose({
      ...throughExposeMethods(formRef, [
        "clearValidate",
        "resetFields",
        "scrollToField",
        "validate",
        "validateFields",
        "setField",
        "getFormData"
      ])
    });

    return () => (
      <NBaseForm ref={formRef} specConfig={FormSpecConfig.value} {...props} {...attrs}>
        {slots}
      </NBaseForm>
    );
  }
}) as DefineComponent<FormProps & Partial<NFormProps>>;
</script>
