<script lang="tsx">
import { InputNumber } from "ant-design-vue";
import type { InputNumberProps } from "ant-design-vue";
import { toFixed } from "ant-design-vue/lib/input-number/src/utils/MiniDecimal";
import { defineComponent, toRefs } from "vue";
import type { DefineComponent } from "vue";
import { nInputNumberProps } from "./input-number-types";
import { isEmpty, isFunction, isNil } from "lodash-es";
import type { ExtendProps } from "../common/types";
import { usePrecisionRange } from "./use-precision-range";

export default defineComponent({
  name: "NInputNumber",
  props: nInputNumberProps(),
  setup(props, { slots, attrs }) {
    const { precision, precisionRange, round, formatter, parser } = toRefs(props);

    const { getClampedPrecision } = usePrecisionRange(precision, precisionRange);

    const _parser: InputNumberProps["parser"] = (displayValue: string) => {
      if (isNil(displayValue) || isEmpty(displayValue)) return displayValue;

      const value = toFixed(displayValue, ".", getClampedPrecision(displayValue), !round.value);

      return isFunction(parser.value) ? parser.value(value) : value;
    };

    const _formatter: InputNumberProps["formatter"] = (value, info) => {
      if (isNil(value)) return value;
      value = value.toString();

      console.log(value, getClampedPrecision(value));
      value = toFixed(value, ".", getClampedPrecision(value), !round.value);

      return isFunction(formatter.value) ? formatter.value(value, info) : (value as string);
    };

    return () =>
      round.value ? (
        <InputNumber {...props} formatter={_formatter} parser={parser.value} {...attrs}>
          {slots}
        </InputNumber>
      ) : (
        <InputNumber {...props} formatter={_formatter} parser={_parser} {...attrs}>
          {slots}
        </InputNumber>
      );
  }
}) as DefineComponent<ExtendProps<ReturnType<typeof nInputNumberProps>, InputNumberProps>>;
</script>

<style></style>
