// @see https://github.com/vueComponent/ant-design-vue/blob/a0e94978f54892be499a84b9871314bbe8e47cc1/components/style/themes/default.less#L111
// vertical paddings
$padding-lg: 24px; // containers
$padding-md: 16px; // small containers and buttons
$padding-sm: 12px; // Form controls and items
$padding-xs: 8px; // small items
$padding-xss: 4px; // more small
