<script lang="tsx">
import type { DrawerProps } from "ant-design-vue";
import { type DefineComponent, defineComponent, onMounted, provide, reactive, toRefs } from "vue";
import {
  type NDrawerContainerProps,
  nDrawerContainerProps,
  NDrawerContainerProvideKey,
  type NDrawerContext,
  NDrawerContextKey
} from "./drawer-types";

export default defineComponent({
  name: "NDrawerContainer",
  props: nDrawerContainerProps(),
  setup(props, { slots, attrs }) {
    const { beforeOpen, beforeClose, initialData } = toRefs(props);
    async function changeVisibleValidate(visible: boolean): Promise<boolean> {
      return visible ? (await beforeOpen.value()) ?? true : (await beforeClose.value()) ?? true;
    }

    const drawerProps = reactive({
      initialData: initialData.value,
      ...attrs,
      visible: false,
      "onUpdate:visible": async (visible) => {
        if (!(await changeVisibleValidate(visible))) return;

        drawerProps.visible = visible;
      }
    }) as DrawerProps & Partial<NDrawerContainerProps>;
    provide(NDrawerContainerProvideKey, drawerProps);
    onMounted(async () => (await changeVisibleValidate(true)) && (drawerProps.visible = true));

    const provideDrawerMethods: NDrawerContext = {
      closeDrawer: async () => {
        if (!(await changeVisibleValidate(false))) return;
        drawerProps.visible = false;
      },
      setDrawerProps: (props) => Object.assign(drawerProps, props)
    };
    provide(NDrawerContextKey, provideDrawerMethods);

    return () => <div>{slots.default?.()}</div>;
  }
}) as DefineComponent<
  Omit<DrawerProps & Partial<NDrawerContainerProps>, "visible" | "onUpdate:visible">
>;
</script>

<style scoped lang="less"></style>
