<script lang="tsx">
import { Drawer, type DrawerProps, Spin } from "ant-design-vue";
import {
  computed,
  type DefineComponent,
  defineComponent,
  inject,
  onMounted,
  provide,
  type Ref,
  ref,
  Teleport
} from "vue";
import {
  type NDrawerContainerProps,
  NDrawerContainerProvideKey,
  NDrawerParentTeleportKey,
  nDrawerProps,
  type NDrawerProps
} from "./drawer-types";
import { isNil } from "lodash-es";

export default defineComponent({
  name: "NDrawer",
  props: nDrawerProps(),
  setup(props, { slots, attrs }) {
    // 从上级组件中获取 teleportTarget, 如果没有会使用 ant-design-vue Drawer 从 getPopupContainer 获取的元素
    const teleportTarget = inject<Ref<HTMLElement | undefined>>(NDrawerParentTeleportKey, ref());

    const drawerProps = inject<DrawerProps & Partial<NDrawerContainerProps>>(
      NDrawerContainerProvideKey,
      {}
    );
    const mergedProps = computed(() => ({ ...drawerProps, ...props, ...attrs }));

    // 为下级组件提供 teleportTarget
    const providedTeleportTarget = ref<HTMLElement>();
    provide(NDrawerParentTeleportKey, providedTeleportTarget);

    const loadedData = ref<Record<string, any>>();
    onMounted(async () => {
      try {
        loadedData.value = (await mergedProps.value.initialData?.()) ?? {};
      } catch (e) {
        loadedData.value = {};
        throw e;
      }
    });
    const defaultSlot = () => [
      isNil(loadedData.value) ? (
        <div class="n-drawer-loading-wrapper">
          <Spin tip={mergedProps.value.loadingText} />
        </div>
      ) : (
        slots.default?.(loadedData.value)
      ),
      <div ref={providedTeleportTarget} />
    ];

    return () => {
      const _slots = isNil(loadedData.value)
        ? { default: defaultSlot }
        : { ...slots, default: defaultSlot };
      const drawer = <Drawer {...mergedProps.value}>{_slots}</Drawer>;

      return isNil(teleportTarget.value) ? (
        drawer
      ) : (
        <Teleport to={teleportTarget}>{drawer}</Teleport>
      );
    };
  }
}) as DefineComponent<DrawerProps & Partial<NDrawerProps>>;
</script>

<style scoped lang="less">
.n-drawer-loading-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
