// #region template
<template>
  <n-form v-model:data="data" :fields="fields" @validate-error="handleError" />
</template>
// #endregion template

<script setup>
// #region script

import { ref, watch } from "vue";
import { FormItemControlType, FormValidateRules } from "@nbicc/common-components";

const data = ref({});
watch(data, () => console.log(data.value), { deep: true });
const fields = ref([
  [
    {
      name: "startTime",
      type: FormItemControlType.DATE_PICKER,
      label: "开始时间",
      rules: [
        {
          validator: FormValidateRules.isLessThanOrEqual("endTime", [
            "开始时间不可晚于结束时间",
            "结束时间不可早于开始时间"
          ])
        }
      ]
    }
  ],
  {
    name: "endTime",
    type: FormItemControlType.DATE_PICKER,
    label: "结束时间"
  }
]);

function handleError(err) {
  console.log(err);
}

// #endregion script
</script>
