<script lang="tsx">
import {
  computed,
  type DefineComponent,
  defineComponent,
  type Ref,
  ref,
  toRefs,
  type Slot,
  onMounted,
  onUnmounted,
  provide
} from "vue";
import type { TableProps } from "ant-design-vue";
import type { NGanttTableContext, NGanttTableProps } from "./gantt-table-types";
import { NGanttTableContextKey, nGanttTableProps } from "./gantt-table-types";
import type { NTableProps } from "../table-types";
import { isArray, isNil } from "lodash-es";
import type { NTableInstance } from "../table-types";
import { NTable } from "..";
import NGanttTableBar from "./NGanttTableBar.vue";
import { useSyncScroll } from "./use-sync-scroll";
import { useResizeBar } from "./use-resize-bar";
import { useGanttChart } from "./use-gantt-chart";
import { useMeasureScrollbar } from "../../utils/hooks/use-measure-scrollbar";
import { useScroll, useElementSize, useMutationObserver } from "@vueuse/core";

export default defineComponent({
  name: "NGanttTable",
  props: nGanttTableProps(),
  setup(props, { slots, attrs, expose }) {
    const { bars, precision, cellWidth, resize, dataSource, columns, rowSelection } = toRefs(props);

    const contentTableColumns = computed(() => {
      if (columns.value?.some((column) => isArray(column.children))) {
        return columns.value;
      } else {
        // 特殊的空字符. 用于占位
        return [{ title: "ㅤㅤ", children: columns.value }];
      }
    });

    const tableWrapperRef = ref() as Ref<HTMLDivElement>;
    const rowHeight = ref(0) as Ref<number>;
    const { stop } = useMutationObserver(
      computed(() => tableWrapperRef.value?.querySelector(".ant-table-tbody") as HTMLElement),
      () => {
        const placeholderElement = tableWrapperRef.value?.querySelector(
          ".timeline-row__placeholder"
        );
        if (isNil(placeholderElement)) return;

        rowHeight.value = placeholderElement.getBoundingClientRect().height;
      },
      { childList: true }
    );
    onUnmounted(() => stop());

    const contentTableScrollContainer = ref() as Ref<HTMLDivElement>;
    const chartTableScrollContainer = ref() as Ref<HTMLDivElement>;
    onMounted(() => {
      const tableWrapperElement = tableWrapperRef.value;
      if (isNil(tableWrapperElement)) return;

      contentTableScrollContainer.value = tableWrapperElement.querySelector(
        ".n-gantt-table__content .ant-table-body"
      )!;
      chartTableScrollContainer.value = tableWrapperElement.querySelector(
        ".n-gantt-table__chart .ant-table-body"
      )!;
    });
    useSyncScroll(contentTableScrollContainer, chartTableScrollContainer);
    const { height: scrollbarHeight } = useMeasureScrollbar();

    const contentTableMinWidth = computed(() => {
      const flatted = contentTableColumns.value
        .map((column) => (isArray(column.children) ? column.children : [column]))
        .flat();
      return (
        flatted.reduce((pre, cur) => (pre += Number.parseInt(cur.width + "") ?? 200), 0) +
        (rowSelection.value === false ? 0 : 78)
      );
    });

    const resizeBarRef = ref() as Ref<HTMLDivElement | undefined>;
    const {
      width: contentTableWidth,
      barStyle: resizeBarStyle,
      isDragging: resizeBarIsDragging
    } = useResizeBar(resizeBarRef, tableWrapperRef, contentTableMinWidth, resize);

    const {
      column: ganttColumn,
      headerCell: ganttHeaderCell,
      bodyCell: ganttBodyCell,
      timelineRange
    } = useGanttChart(
      bars,
      precision,
      cellWidth,
      dataSource,
      rowHeight,
      slots["ganttBar"] ?? ((() => [<NGanttTableBar />]) as Slot)
    );
    const ganttColumns = computed(() => [ganttColumn.value]);

    const nTableRef = ref() as Ref<NTableInstance>;
    expose({
      saveEditedRow: (...args: Parameters<typeof nTableRef.value.saveEditedRow>) =>
        nTableRef.value.saveEditedRow(...args),
      cancelEditedRow: (...args: Parameters<typeof nTableRef.value.cancelEditedRow>) =>
        nTableRef.value.cancelEditedRow(...args),
      editRow: (...args: Parameters<typeof nTableRef.value.editRow>) =>
        nTableRef.value.editRow(...args)
    });

    provide<NGanttTableContext>(NGanttTableContextKey, {
      rowHeight: rowHeight,
      precision: precision,
      timeline: timelineRange,
      cellWidth: cellWidth,
      chartTableScroll: useScroll(chartTableScrollContainer, { behavior: "smooth" }),
      chartTableSize: useElementSize(chartTableScrollContainer)
    });

    return () => (
      <div class="n-gantt-table" ref={tableWrapperRef}>
        <NTable
          style={{
            width: contentTableWidth.value + "px",
            paddingBottom: scrollbarHeight.value + "px"
          }}
          class="n-gantt-table__content"
          ref={nTableRef}
          {...attrs}
          columns={contentTableColumns.value}
          dataSource={dataSource.value}
          rowSelection={rowSelection.value}
        >
          {slots}
        </NTable>
        <NTable
          class="n-gantt-table__chart"
          {...attrs}
          columns={ganttColumns.value}
          dataSource={dataSource.value}
        >
          {{ ...slots, bodyCell: ganttBodyCell, headerCell: ganttHeaderCell }}
        </NTable>
        {resizeBarIsDragging.value ? (
          /* 拖动时在下层渲染, 以保持鼠标指针为 col-resize 样式 */
          <div style="position: absolute; width: 100%; height: 100%; z-index: 1; cursor: col-resize"></div>
        ) : undefined}
        {resize.value ? (
          <div
            ref={resizeBarRef}
            style={resizeBarStyle.value}
            class={{
              "n-gantt-table__resize-bar": true,
              "n-gantt-table__resize-bar--active": true,
              "n-gantt-table__resize-bar--dragging": resizeBarIsDragging.value
            }}
          ></div>
        ) : undefined}
      </div>
    );
  }
}) as DefineComponent<TableProps & Partial<NGanttTableProps> & Partial<NTableProps>>;
</script>

<style lang="less">
.n-gantt-table {
  position: relative;

  display: flex;

  width: 100%;
  height: 100%;

  overflow-y: hidden !important;

  .n-gantt-table__content {
    flex: 0 0 auto;

    .ant-table-body {
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  .n-gantt-table__chart {
    flex: 1 1 auto;

    margin-left: -1px;

    .ant-table-bordered {
      .header__title-cell {
        border-bottom: 1px solid #f0f0f0;
      }
    }
    .ant-table-middle {
      .header__title-cell,
      .header__cell {
        padding: 12px 8px;
      }

      .timeline-row__placeholder {
        padding: 12px 0;
      }
    }

    .ant-table-small {
      .header__title-cell,
      .header__cell {
        padding: 8px 8px;
      }

      .timeline-row__placeholder {
        padding: 8px 0;
      }
    }

    .ant-table-body {
      position: relative;
    }
  }

  .n-gantt-table__resize-bar {
    position: absolute;
    height: 100%;
    width: 3px;
    padding: 0 1px;
    z-index: 1;
    margin-left: -2px;

    background-color: transparent;
    background-clip: content-box;

    &.n-gantt-table__resize-bar--active {
      cursor: col-resize;
    }

    &.n-gantt-table__resize-bar--dragging {
      background-color: #5473e8;
      padding: 0;
    }
  }
}

.timeline-header {
  display: flex;
  flex-direction: column;

  & > .header__title-cells {
    display: flex;

    & > .header__title-cell > span {
      position: sticky;
      left: 8px;
    }
  }

  & > .header__cells {
    display: flex;

    & > .header__cell {
      position: relative;

      display: inline-block;

      flex: 1 1 auto;
      width: 0;

      text-align: center;

      &::after {
        background-color: rgba(0, 0, 0, 0.06);
        content: "";
        height: 1.6em;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
      }
    }
  }
}

.timeline-row__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  display: flex;

  height: 100%;

  & > .row__column {
    display: flex;

    & > .row__cell {
      position: relative;

      display: inline-block;
      flex: 1 1 auto;
      width: 0;
      text-align: center;

      &::after {
        background-color: rgba(0, 0, 0, 0.06);
        content: "";
        height: 100%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
      }
    }
  }
}

.timeline-row__placeholder {
  display: inline-block;
  visibility: hidden;
  width: 0;
  vertical-align: middle;
}
</style>
