<script lang="tsx">
import { computed, type DefineComponent, defineComponent, inject, toRefs } from "vue";
import type { NGanttBarProps, NGanttTableContext } from "./gantt-table-types";
import { nGanttBarProps, NGanttTableContextKey } from "./gantt-table-types";
import { toRgba, transparentize } from "color2k";
import { isNumber } from "lodash-es";
import { ArrowLeftOutlined, ArrowRightOutlined } from "@ant-design/icons-vue";
import { NButton } from "../../n-button";

interface BarRect {
  width: number;
  height: number;
  top: number;
  left: number;
}

export default defineComponent({
  name: "NGanttTableBar",
  props: nGanttBarProps(),
  setup(props, { slots, attrs }) {
    const { height, index, start, end, resizable, movable, color } = toRefs(props);
    const { rowHeight, timeline, cellWidth, chartTableScroll, chartTableSize } =
      inject<NGanttTableContext>(NGanttTableContextKey, {} as NGanttTableContext);

    const barHeight = computed(() => (isNumber(height.value) ? height.value : rowHeight.value));

    const rect = computed<BarRect>(() => {
      const _start = start.value;
      const _precision = "day";
      const _cellWidth = cellWidth.value;
      const _barHeight = barHeight.value;
      const _rowHeight = rowHeight.value;
      const _index = index.value;

      return {
        height: _barHeight,
        top:
          _rowHeight * _index +
          // 1px 边框
          _index +
          // 垂直居中
          Math.abs((_rowHeight - _barHeight) / 2),
        width: (Math.max(end.value.diff(_start, _precision), 0) + 1) * _cellWidth,
        left: _start.diff(timeline.value[0], _precision) * _cellWidth
      };
    });

    const themeColor = computed(() => {
      const rgb = toRgba(color.value);
      return { background: transparentize(rgb, 0.2), border: transparentize(rgb, 0) };
    });

    /**
     * 如果 bar 的左侧或右侧超出了 chartTable 的可视区域, 则显示跳转按钮
     */
    const isOverLeft = computed(() => chartTableScroll.x.value > rect.value.left);
    const isOverRight = computed(
      () =>
        rect.value.left + rect.value.width > chartTableSize.width.value + chartTableScroll.x.value
    );
    const jumpToLeft = () =>
      isOverLeft.value ? (
        <NButton
          type="text"
          size="small"
          class="n-gantt-bar__jump-left"
          onClick={() =>
            (chartTableScroll.x.value = rect.value.left - chartTableSize.width.value / 2)
          }
        >
          {{ icon: () => <ArrowLeftOutlined /> }}
        </NButton>
      ) : undefined;
    const jumpToRight = () =>
      isOverRight.value ? (
        <NButton
          type="text"
          size="small"
          class="n-gantt-bar__jump-right"
          onClick={() =>
            (chartTableScroll.x.value =
              rect.value.left + rect.value.width - chartTableSize.width.value / 2)
          }
        >
          {{ icon: () => <ArrowRightOutlined /> }}
        </NButton>
      ) : undefined;

    return () => (
      <div class="n-gantt-bar-wrapper" style={{ height: rowHeight.value + "px" }}>
        {jumpToLeft()}
        <div
          {...attrs}
          class={{
            "n-gantt-bar": true,
            "n-gantt-bar--movable": movable.value,
            "n-gantt-bar--resizable": resizable.value
          }}
          style={{
            width: rect.value.width + "px",
            height: rect.value.height + "px",
            marginLeft: rect.value.left + "px",
            "--n-gantt-bar-background-color": themeColor.value.background,
            "--n-gantt-bar-border-color": themeColor.value.border
          }}
        >
          {resizable.value && <div class="n-gantt-bar__handle-left" />}
          <div class="n-gantt-bar__content">{slots.default?.()}</div>
          {resizable.value && <div class="n-gantt-bar__handle-right" />}
        </div>
        {jumpToRight()}
      </div>
    );
  }
}) as DefineComponent<Partial<NGanttBarProps>>;
</script>

<style scoped lang="less">
.n-gantt-bar-wrapper {
  width: 100%;
  height: 100%;

  display: inline-flex;
  align-items: center;

  vertical-align: middle;

  .n-gantt-bar__jump-left,
  .n-gantt-bar__jump-right {
    position: sticky;
    z-index: 1;
  }

  .n-gantt-bar__jump-left {
    left: 1em;
  }

  .n-gantt-bar__jump-right {
    right: 1em;
  }
}

.n-gantt-bar {
  position: relative;
  top: 0;

  height: 100%;

  box-sizing: border-box;

  border-radius: 0.5em;

  border: 0.3em solid transparent;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;

  background-color: var(--n-gantt-bar-background-color);

  .n-gantt-bar__content {
    flex: 1 1 auto;
    height: 100%;
  }

  &.n-gantt-bar--movable {
    cursor: move;
  }

  &.n-gantt-bar--resizable:hover {
    &:hover {
      border-color: var(--n-gantt-bar-border-color);

      .n-gantt-bar__handle-left,
      .n-gantt-bar__handle-right {
        display: flex;
      }
    }
  }

  .n-gantt-bar__handle-left,
  .n-gantt-bar__handle-right {
    position: absolute;
    top: 0;

    display: none;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 1em;

    cursor: ew-resize;

    &::before {
      content: "";
      height: 1.5em;
      width: 2px;
      box-sizing: content-box;
      transition: all 0.3s;
      border-left: 1px solid black;
      border-right: 1px solid black;
    }
  }

  .n-gantt-bar__handle-left {
    left: -1em;
  }

  .n-gantt-bar__handle-right {
    right: -1em;
  }
}
</style>
