<script lang="tsx">
import { defineComponent, provide, reactive, toRefs, watch } from "vue";
import { NSpecProvideKey, nSpecProviderProps } from "./spec-provider-types";
import type { NSpecProviderProps } from "./spec-provider-types";
import { NModalWrapperContextKey, useNModalWrapper } from "../n-modal";
import { NDrawerWrapperContextKey, useNDrawerWrapper } from "../n-drawer";

export default defineComponent({
  name: "NSpecProvider",
  props: nSpecProviderProps(),
  setup(props, { slots }) {
    const { wrapModal, wrapDrawer } = toRefs(props);
    const specProvider = reactive({ ...props });

    const keys = Object.keys(props) as Array<keyof NSpecProviderProps>;
    for (let i = keys.length; i--; ) {
      const key = keys[i];
      watch(
        () => props[key],
        //@ts-ignore
        () => (specProvider[key] = props[key])
      );
    }

    provide(NSpecProvideKey, specProvider);

    const { context: modalContext, render: modalRender } = wrapModal.value
      ? useNModalWrapper()
      : { context: undefined, render: undefined };
    const { context: drawerContext, render: drawerRender } = wrapDrawer.value
      ? useNDrawerWrapper()
      : { context: undefined, render: undefined };

    provide(NModalWrapperContextKey, modalContext);
    provide(NDrawerWrapperContextKey, drawerContext);

    return () => (
      <>
        {slots.default?.()}
        {modalRender?.()}
        {drawerRender?.()}
      </>
    );
  }
});
</script>
