iframe[data-why] {
  width: 100%;
  min-height: 256px;

  padding: 4px 0;

  border: none;
  border-top: 2px gray dashed;
  border-bottom: 2px gray dashed;
}

.iframe-lg {
  //width: 1200px!important;
  //transform: scale(0.5);
  //transform-origin: left top;
}
