<script lang="tsx">
import { defineComponent, ref, toRefs } from "vue";
import {
  type NPrintBaseCustomPrintFunc,
  type NPrintBaseInstance,
  nPrintProps
} from "./print-types";
import { composeAtPageStyle } from "./utils";
import NPrintBase from "./NPrintBase.vue";
import { useVueToPrint } from "vue-to-print";

export default defineComponent({
  name: "NPrint",
  props: nPrintProps(),
  setup(props, { attrs, slots, expose }) {
    const customPrint: NPrintBaseCustomPrintFunc = (props, element) => {
      const { title, size, orientation } = toRefs(props);

      return new Promise<void>((resolve, reject) => {
        const { handlePrint } = useVueToPrint({
          content: () => element,
          documentTitle: title.value,
          pageStyle: [composeAtPageStyle(size.value, orientation.value)].join("\n"),
          onAfterPrint: () => resolve(),
          onPrintError: (errorLocation: string, error: Error) => reject(error),
          removeAfterPrint: true
        });

        handlePrint();
      });
    };

    const nPrintBaseRef = ref<NPrintBaseInstance>();

    expose({
      print: () => nPrintBaseRef.value?.print()
    });

    return () => (
      <NPrintBase ref={nPrintBaseRef} {...props} {...attrs} customPrint={customPrint}>
        {slots}
      </NPrintBase>
    );
  }
});
</script>

<style lang="scss" scoped></style>
