<script lang="tsx">
import { computed, defineComponent, onMounted, provide, readonly, ref, toRefs, watch } from "vue";
import type { ComponentPublicInstance } from "vue";
import { Spin } from "ant-design-vue";
import { NSpace } from "../n-space";
import { nPrintBaseProps, NPrintPagePropsKey, type NPrintProps } from "./print-types";
import { isFunction, isNil, random } from "lodash-es";
import { parsePageSize } from "./utils";
import { useComposePageProps } from "./use-composed-page-props";
import { useScalePrintContent } from "./use-scale-print-content";
import { elementMutation } from "../utils/reactive-dom-mutation";

import "./styles/index.scss";

export default defineComponent({
  name: "NPrintBase",
  props: nPrintBaseProps(),
  setup(props, { emit, slots, expose }) {
    const wrapperId = `n-print-base-${random(100000, 999999)}-${random(100000, 999999)}`;

    const { pagingMode, size, orientation, margin, padding, customPrint } = toRefs(props);

    const pageSize = computed(() => parsePageSize(size.value, orientation.value));
    const printing = ref(false);

    const nPrintRef = ref<ComponentPublicInstance>();
    const nPrintContainerRef = ref<HTMLDivElement>();
    const nPrintScaleContainerRef = ref<HTMLDivElement>();

    const beforePrint = async () => {
      printing.value = true;
    };
    const afterPrint = async () => {
      printing.value = false;
      emit("close");
    };
    const handlePrint = async () => {
      await beforePrint();

      if (isFunction(customPrint.value) && !isNil(nPrintContainerRef.value)) {
        // 复制一份 props, 并删除外部不需要的 customPrint 属性.
        const exposedProps = { ...props };
        delete exposedProps.customPrint;

        /**
         * 深拷贝一份要打印的内容, 并删除设置的缩放 CSS 属性以避免缩放影响原始内容的大小.
         */
        const printContent = nPrintContainerRef.value.cloneNode(true) as HTMLDivElement;
        const printScaleContent = printContent.firstChild as HTMLDivElement;
        // 删除缩放样式, 恢复原始大小
        retrieveScaleStyle(printContent, printScaleContent);

        await customPrint.value(readonly(exposedProps) as NPrintProps, printContent);
      }

      await afterPrint();
    };

    // 处理通过 provide 传递给 NPrintPage 的参数
    const { pageProps } = useComposePageProps(pagingMode, size, orientation, margin, padding);
    // 处理缩放
    const { refreshStyle, retrieveScaleStyle } = useScalePrintContent(
      nPrintRef,
      nPrintContainerRef,
      nPrintScaleContainerRef,
      pageSize
    );
    onMounted(() => {
      const defaultSlotMutationRef = elementMutation.watch(nPrintScaleContainerRef.value!, {
        childList: true
      });
      watch([pageSize, defaultSlotMutationRef], () => refreshStyle(), { immediate: true });
    });

    expose({ print: handlePrint });

    provide(NPrintPagePropsKey, pageProps);

    return () => {
      const toolbar = (
        <NSpace>
          {isFunction(slots.toolbar) ? slots.toolbar({ print: handlePrint }) : undefined}
        </NSpace>
      );

      return (
        <Spin spinning={printing.value} tip="加载中...">
          <NSpace ref={nPrintRef} direction="vertical" class="n-print-base">
            {toolbar}
            <div ref={nPrintContainerRef} id={wrapperId}>
              <div
                ref={nPrintScaleContainerRef}
                class={{
                  "n-print-base__content": true,
                  /**
                   * why: 为什么不通过在 print-js 入参中设置样式移除 row-gap, 而是在调用 print-js 之前手动移除?
                   * print-js 会计算 dom 元素实际宽高然后写在 inline style 中, 再将拼接成的完整 html 字符串发送到 iframe 中.
                   * 如果不在调用前移除,  print-js 会在将 html 发送到 iframe 之前将计算得到的包含 row-gap 的高度写死在 inline style 中.
                   * 这时在 print-js 入参中设置的移除 row-gap 的样式即使生效了也无法影响到元素高度.
                   */
                  "n-print-base__content--print": printing.value
                }}
              >
                {slots.default?.()}
              </div>
            </div>
            {toolbar}
          </NSpace>
        </Spin>
      );
    };
  }
});
</script>

<style lang="scss">
@use "../common/styles/compact";

.n-print-base {
  width: 100%;
  height: 100%;

  padding: compact.$padding-md;
}

.n-print-base__content {
  /* 为了兼容 Firefox 在打印时无法正确处理 flex 布局的问题(https://stackoverflow.com/questions/45414152/css-flex-box-not-printing-all-pages-on-firefox). 将 flex 布局改为默认的 block 布局.  */
  //display: flex;
  //flex-direction: column;
  //row-gap: compact.$padding-md;

  .n-print-page__wrap {
    margin-bottom: compact.$padding-md !important;
  }

  // 当内容过大时 n-print-base__content 会被加上 scale 样式. 如果设置了 width/height 将会使元素的宽高同时被影响.
  // 为了避免这种情况, 将 width/height 设置为 auto. 让元素的宽高由内容决定.
  width: auto;
  height: auto;
}

@media print {
  .n-print-base__content {
    .n-print-page__wrap {
      margin-bottom: unset !important;
    }
  }
}
</style>
