<script lang="tsx">
import { computed, defineComponent, inject, type Ref } from "vue";
import { toRefs } from "@vueuse/core";
import type { NPrintPageProps } from "./print-types";
import { NPrintPagePropsKey } from "./print-types";
import { generateMarginOrPaddingObject, generatePaddingStyle } from "./utils";

export default defineComponent({
  name: "NPrintPage",
  setup(props, { slots, attrs }) {
    const pageProps = inject<Ref<NPrintPageProps> | NPrintPageProps>(NPrintPagePropsKey, {
      width: "0",
      height: "0",
      margin: { top: "0", right: "0", bottom: "0", left: "0" },
      padding: { top: "0", right: "0", bottom: "0", left: "0" },
      breakAfter: "auto" as const,
      overflow: "visible" as const
    });
    const { width, height, margin, padding, breakAfter, overflow } = toRefs(pageProps);

    const wrapperStyle = computed(() => {
      const paddingObject = generateMarginOrPaddingObject(margin.value);
      return {
        width: width.value,
        height: height.value,
        paddingTop: paddingObject.top,
        paddingRight: paddingObject.right,
        paddingBottom: paddingObject.bottom,
        paddingLeft: paddingObject.left,
        breakAfter: breakAfter.value,
        overflow: overflow.value
      };
    });

    const innerStyle = computed(
      () =>
        `
        ${generatePaddingStyle(padding.value)};
        /* wrapper 高度固定时, 允许内容使用 100% 高度 */
         height: ${wrapperStyle.value.height === "auto" ? "auto" : "100%"}
         `
    );

    return () => (
      <div {...attrs} class="n-print-page__wrap" style={wrapperStyle.value}>
        <div class="n-print-page" style={innerStyle.value}>
          {slots.default?.()}
        </div>
      </div>
    );
  }
});
</script>

<style scoped>
.n-print-page__wrap {
  box-sizing: border-box;

  /* https://github.com/vueComponent/ant-design-vue/blob/a0e94978f54892be499a84b9871314bbe8e47cc1/components/style/themes/default.less#L749 */
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12),
    0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.n-print-page {
  width: auto;
  height: auto;

  box-sizing: border-box;
}
</style>
