// #region template
<template>
  <n-form v-model:data="data" :fields="fields" :field-layout="{ span: 8 }" />

  <a-space>
    <n-button type="primary" @click="nPrintRef.print()">通过 ref 实例接口打印</n-button>
  </a-space>

  <component
    :is="data.component"
    ref="nPrintRef"
    :size="data.size === 'custom' ? [`${data.width}mm`, `${data.height}mm`] : data.size"
    :margin="`${data.margin}mm`"
    :padding="`${data.padding}mm`"
    :orientation="data.orientation"
    :paging-mode="data.pagingMode"
    :title="data.title"
  >
    <n-print-page>
      <img style="width: 100%; height: 100%" src="./Philips_PM5544.svg" />
    </n-print-page>
  </component>
</template>

<style lang="less" scoped></style>
// #endregion template

<script setup>
// #region script

import { FormItemControlType } from "@nbicc/common-components";
import { ref, watch } from "vue";

const nPrintRef = ref();

const url = new URL(window.frameElement.dataset.href);
const data = ref({
  size: "custom",
  width: 80,
  height: 60,
  pagingMode: "clip",
  orientation: "landscape",
  component: url.searchParams.get("component") || "NPrint"
});
const fields = ref([]);

watch(
  () => data.value.size,
  (value) => {
    const _fields = [
      [
        {
          name: "size",
          label: "尺寸",
          type: FormItemControlType.SELECT,
          initialValue: "custom"
        },
        {
          options: [
            { label: "自定义", value: "custom" },
            { label: "A5", value: "A5" },
            { label: "A4", value: "A4" },
            { label: "A3", value: "A3" },
            { label: "B5", value: "B5" },
            { label: "B4", value: "B4" },
            { label: "JIS-B5", value: "JIS-B5" },
            { label: "JIS-B4", value: "JIS-B4" },
            { label: "letter", value: "letter" },
            { label: "legal", value: "legal" },
            { label: "ledger", value: "ledger" }
          ]
        }
      ]
    ];

    if (value === "custom") {
      _fields.push(
        [
          {
            name: "width",
            label: "宽度",
            type: FormItemControlType.INPUT_NUMBER,
            initialValue: 80
          },
          { addonAfter: "mm", min: 20 }
        ],
        [
          {
            name: "height",
            label: "高度",
            type: FormItemControlType.INPUT_NUMBER,
            initialValue: 61
          },
          { addonAfter: "mm", min: 20 }
        ]
      );
    }

    _fields.push(
      [
        {
          name: "margin",
          label: "外边距",
          type: FormItemControlType.INPUT_NUMBER,
          initialValue: 0
        },
        { addonAfter: "mm" }
      ],
      [
        {
          name: "padding",
          label: "内边距",
          type: FormItemControlType.INPUT_NUMBER,
          initialValue: 0
        },
        { addonAfter: "mm" }
      ],
      [
        {
          name: "orientation",
          label: "方向",
          type: FormItemControlType.RADIO_GROUP,
          initialValue: "portrait"
        },
        {
          options: [
            { label: "纵向", value: "portrait" },
            { label: "横向", value: "landscape" }
          ]
        }
      ],
      [
        {
          name: "pagingMode",
          label: "分页模式",
          type: FormItemControlType.RADIO_GROUP,
          initialValue: "auto"
        },
        {
          options: [
            { label: "自动", value: "auto" },
            { label: "裁剪", value: "clip" },
            { label: "紧凑", value: "compact" }
          ]
        }
      ],
      [
        {
          name: "component",
          label: "组件",
          type: FormItemControlType.SELECT,
          initialValue: "NPrint"
        },
        {
          options: [
            { label: "浏览器打印(PrintJS)", value: "NPrint" },
            { label: "Lodop打印", value: "NPrintLodop" }
          ]
        }
      ]
    );

    fields.value = _fields;
  },
  { immediate: true }
);

// #endregion script
</script>
