<script lang="tsx">
import { Button } from "ant-design-vue";
import type { ButtonProps } from "ant-design-vue";
import { computed, defineComponent, toRefs } from "vue";
import type { DefineComponent } from "vue";
import { debounce } from "lodash-es";
import { nButtonProps } from "./button-types";
import type { ExtendProps } from "../common/types";

export default defineComponent({
  name: "NButton",
  props: nButtonProps(),
  setup(props, { slots, attrs, emit }) {
    const { type, secondary, warning, delay, onClick: onClickFunc } = toRefs(props);
    const innerType = computed(() => (type.value === "secondary" ? "default" : type.value));

    const handleClick = debounce(
      (event: MouseEvent) => {
        if (onClickFunc.value) emit("click", event);
      },
      delay.value,
      { leading: true }
    );

    return () => {
      return (
        <Button
          class={{
            "n-button": true,
            "n-button-secondary": secondary.value || type.value === "secondary",
            "n-button-warning": warning.value
          }}
          {...attrs}
          type={innerType.value}
          onClick={handleClick}
        >
          {{ ...slots }}
        </Button>
      );
    };
  }
}) as DefineComponent<ExtendProps<ReturnType<typeof nButtonProps>, Omit<ButtonProps, "type">>>;
</script>

<style lang="less">
// >>> Secondary
@secondary-color: #36c2cf;
@secondary-color-hover: #29d4e2;
@secondary-color-active: #29d4e2;

@btn-secondary-color: #fff;
@btn-secondary-bg: @secondary-color;
@btn-secondary-border: @secondary-color;

@btn-secondary-bg-hover: @secondary-color-hover;
@btn-secondary-border-hover: @secondary-color-hover;

//.n-button.n-button-secondary {
//  color: @btn-secondary-color;
//  background: @btn-secondary-bg;
//  border-color: @btn-secondary-border;
//
//  &:hover,
//  &:focus {
//    color: @btn-secondary-color;
//    background: @btn-secondary-bg-hover;
//    border-color: @btn-secondary-border-hover;
//  }
//
//  &:active {
//    color: @btn-secondary-color;
//    background: @btn-secondary-bg;
//    border-color: @btn-secondary-border;
//  }
//}
//
//.ant-btn.ant-btn-background-ghost.n-button-secondary {
//  color: @btn-secondary-border;
//  border-color: @btn-secondary-border;
//  text-shadow: none;
//
//  &:hover,
//  &:focus {
//    color: @btn-secondary-border-hover;
//    border-color: @btn-secondary-border-hover;
//  }
//  &:active {
//    color: @btn-secondary-border;
//    border-color: @btn-secondary-border;
//  }
//
//  &[disabled] {
//    color: #00000040;
//    border-color: #d9d9d9;
//    background-color: transparent;
//  }
//}

// -------- Secondary -----------
@secondary-color: #36c2cf;
@secondary-color-hover: #29d4e2;
@secondary-color-active: #36c2cf;

@btn-secondary-color: @secondary-color;
@btn-secondary-bg: @secondary-color;
@btn-secondary-border: @secondary-color;

@btn-secondary-color-hover: @secondary-color-hover;
@btn-secondary-bg-hover: @secondary-color-hover;
@btn-secondary-border-hover: @secondary-color-hover;

@btn-secondary-color-active: @secondary-color-active;
@btn-secondary-bg-active: @secondary-color-active;
@btn-secondary-border-active: @secondary-color-active;

.n-button {
  &.n-button-secondary {
    color: @btn-secondary-color;
    background: #fff;
    border-color: @btn-secondary-border;

    &:hover,
    &:focus {
      color: @btn-secondary-color-hover;
      border-color: @btn-secondary-border-hover;
    }
    &:active {
      color: @btn-secondary-color-active;
      border-color: @btn-secondary-border-active;
    }

    &.ant-btn-primary {
      color: #fff;
      border-color: @btn-secondary-border;
      background: @btn-secondary-bg;

      &:hover,
      &:focus {
        background: @btn-secondary-bg-hover;
      }
      &:active {
        background: @btn-secondary-bg-active;
      }
    }

    &.ant-btn-text,
    &.ant-btn-link {
      border-color: transparent;
      background: transparent;
      box-shadow: none;

      &:hover,
      &:focus {
        background: rgba(0, 0, 0, 0.018);
      }
      &:active {
        background: rgba(0, 0, 0, 0.028);
      }
    }

    &.ant-btn-background-ghost {
      color: @btn-secondary-color;
      text-shadow: none;
      background-color: transparent;

      &:hover,
      &:focus {
        color: @btn-secondary-color-hover;
        border-color: @btn-secondary-border-hover;
        background-color: transparent;
      }
      &:active {
        color: @btn-secondary-color-active;
        border-color: @btn-secondary-border-active;
        background-color: transparent;
      }

      &[disabled] {
        color: #00000040;
        border-color: #d9d9d9;
        background-color: transparent;
      }
    }
  }
}

// -------- Warning -----------
@warning-color: #ffa128;
@warning-color-hover: #ffb556;
@warning-color-active: #ee9624;

@btn-warning-color: @warning-color;
@btn-warning-bg: @warning-color;
@btn-warning-border: @warning-color;

@btn-warning-color-hover: @warning-color-hover;
@btn-warning-bg-hover: @warning-color-hover;
@btn-warning-border-hover: @warning-color-hover;

@btn-warning-color-active: @warning-color-active;
@btn-warning-bg-active: @warning-color-active;
@btn-warning-border-active: @warning-color-active;

.n-button {
  &.n-button-warning {
    color: @btn-warning-color;
    background: #fff;
    border-color: @btn-warning-border;

    &:hover,
    &:focus {
      color: @btn-warning-color-hover;
      border-color: @btn-warning-border-hover;
    }
    &:active {
      color: @btn-warning-color-active;
      border-color: @btn-warning-border-active;
    }

    &.ant-btn-primary {
      color: #fff;
      border-color: @btn-warning-border;
      background: @btn-warning-bg;

      &:hover,
      &:focus {
        background: @btn-warning-bg-hover;
      }
      &:active {
        background: @btn-warning-bg-active;
      }
    }

    &.ant-btn-text,
    &.ant-btn-link {
      border-color: transparent;
      background: transparent;
      box-shadow: none;

      &:hover,
      &:focus {
        background: rgba(0, 0, 0, 0.018);
      }
      &:active {
        background: rgba(0, 0, 0, 0.028);
      }
    }

    &.ant-btn-background-ghost {
      color: @btn-warning-color;
      text-shadow: none;
      background-color: transparent;

      &:hover,
      &:focus {
        color: @btn-warning-color-hover;
        border-color: @btn-warning-border-hover;
        background-color: transparent;
      }
      &:active {
        color: @btn-warning-color-active;
        border-color: @btn-warning-border-active;
        background-color: transparent;
      }

      &[disabled] {
        color: #00000040;
        border-color: #d9d9d9;
        background-color: transparent;
      }
    }
  }
}
</style>
