<script lang="tsx">
import NButton from "./NButton.vue";
import type { ButtonProps } from "ant-design-vue";
import { defineComponent, ref, toRefs, watch } from "vue";
import type { Ref, DefineComponent } from "vue";
import { isNil } from "lodash-es";
import { nLoadingButtonProps } from "./button-types";
import type { NLoadingButtonProps } from "./button-types";

export default defineComponent({
  name: "NLoadingButton",
  props: nLoadingButtonProps(),
  setup(props, { slots, attrs, emit }) {
    const { loading, onLoadingClick, onClick: onClickFunc } = toRefs(props);

    const _loading = ref() as Ref<ButtonProps["loading"]>;
    watch(loading, (value) => (_loading.value = value), { immediate: true });

    const handleLoadingClick = async (event: MouseEvent) => {
      try {
        _loading.value = true;

        const result = onLoadingClick.value!(event);
        if (result) await result;
      } finally {
        _loading.value = false;
      }
    };

    const handleClick = (event: MouseEvent) => {
      if (onClickFunc.value) emit("click", event);

      if (isNil(loading.value) || loading.value === false) {
        if (onLoadingClick.value) handleLoadingClick(event);
      }
    };

    return () => {
      return (
        <NButton
          class="n-auto-load-button"
          {...attrs}
          loading={_loading.value}
          onClick={handleClick}
        >
          {{ ...slots }}
        </NButton>
      );
    };
  }
}) as DefineComponent<Partial<NLoadingButtonProps> & Omit<ButtonProps, "type">>;
</script>
