<script setup>
import { useModal } from "@nbicc/common-components";

const props = defineProps({
  subtitle: String
});

const { closeModal } = useModal();
</script>

<template>
  <n-modal v-bind="$attrs">
    <h2>{{ props.subtitle }}</h2>
    <template #footer>
      <a-space>
        <a-button @click="closeModal">关闭</a-button>
      </a-space>
    </template>
  </n-modal>
</template>

<style scoped lang="less"></style>
