<script setup>
// #region script

import { useModalManager } from "@nbicc/common-components";
import SimpleModal from "./simple-modal.vue";

const { showModal } = useModalManager();

function openModal() {
  showModal(SimpleModal, { subtitle: "Modal Body" }, { title: "Modal Title" });
}

// #endregion script
</script>

// #region template
<template>
  <n-button @click="openModal()">打开模态框</n-button>
</template>
// #endregion template
