<script lang="tsx">
import { Modal, Divider, DropdownButton, Menu, MenuItem } from "ant-design-vue";
import { SettingOutlined, DownloadOutlined } from "@ant-design/icons-vue";
import { defineComponent, ref, toRef, toRefs, watch } from "vue";
import type { SetupContext, VNode, Ref, Slots } from "vue";
import { isFunction, isArray, cloneDeep } from "lodash-es";
import { NButton, NLoadingButton } from "../n-button";
import { NSpace } from "../n-space";
import type { NTableColumn } from "../n-table";
import { useAdaptiveToolbarSection } from "./use-adaptive-toolbar-section";
import type { NToolbarEmits } from "./toolbar-types";
import { nToolbarProps } from "./toolbar-types";
import TableColumnSettingsModel from "./TableColumnSettingsModel.vue";
import { initialTableColumnSettings } from "./initial-table-column-settings";
import { cacheStorage, IGNORE, isStorable } from "../../storage";

export default defineComponent({
  name: "NToolbar",
  props: nToolbarProps(),
  setup(props, { slots, emit }: SetupContext<NToolbarEmits>) {
    const { storageKey, disabledColumnKeys, exportAsFile } = toRefs(props);
    const _tableColumns = ref() as Ref<Array<NTableColumn>>;
    watch(toRef(props, "tableColumns"), () => (_tableColumns.value = props.tableColumns || []), {
      immediate: true
    });

    const { default: _default, secondary, common } = slots;

    const filterButton = () => (
      <>
        <NButton
          class="n-toolbar__common-section-button"
          type="link"
          onClick={() => showTableColumnSettingsModal()}
        >
          {{
            default: () => "设置",
            icon: () => <SettingOutlined />
          }}
        </NButton>
      </>
    );

    const commonSection = () => (
      <>
        {isArray(props.tableColumns) ? filterButton() : undefined}
        {isFunction(exportAsFile.value) ? (
          <NLoadingButton
            class="n-toolbar__common-section-button"
            type="link"
            onLoadingClick={exportAsFile.value}
          >
            {{
              default: () => "导出",
              icon: () => <DownloadOutlined />
            }}
          </NLoadingButton>
        ) : undefined}
      </>
    );

    // 本地存储对象
    const storage = cacheStorage.derive(
      isStorable(props) ? `${storageKey.value}__n-toolbar` : IGNORE
    );
    const columnSettingsStorage = storage.derive("column-settings");
    initialTableColumnSettings(columnSettingsStorage, _tableColumns.value);

    function showTableColumnSettingsModal() {
      const columnsCopy = ref(cloneDeep(_tableColumns.value)) as Ref<Array<NTableColumn>>;
      Modal.confirm({
        bodyStyle: { padding: "16px" },
        width: 768,
        closable: true,
        maskClosable: true,
        icon: null,
        title: "列设置",
        onOk: () => emit("update:tableColumns", columnsCopy.value),
        onCancel: () => emit("update:tableColumns", columnsCopy.value),
        centered: true,
        content: () => (
          <TableColumnSettingsModel
            storage={columnSettingsStorage}
            disabledColumnKeys={disabledColumnKeys.value}
            columns={columnsCopy.value}
          />
        ),
        class: "n-toolbar__column-settings-modal"
      });
    }

    const toolbarRef = ref() as Ref<HTMLDivElement>;
    const { collapseSection } = useAdaptiveToolbarSection(toolbarRef);

    return () => (
      <div class="n-toolbar" ref={toolbarRef}>
        <NSpace class="n-toolbar__primary-section" style="flex: 1 1 auto;">
          {isFunction(_default) ? _default() : undefined}
        </NSpace>
        <span style="flex: 1 1 auto;"></span>
        <NSpace class="n-toolbar__secondary-section">
          {isFunction(secondary)
            ? adaptiveSecondarySection(secondary(), collapseSection.secondary)
            : undefined}
        </NSpace>
        {isFunction(exportAsFile.value) || isArray(props.tableColumns) ? (
          <Divider type="vertical" style="border: 1px solid #d9d9d9; height: 2em;" />
        ) : undefined}
        <NSpace class="n-toolbar__common-section">
          {isFunction(common) ? common({ toolsNode: commonSection() }) : commonSection()}
        </NSpace>
      </div>
    );
  }
});

/**
 * 根据容器宽度自适应工具栏的次要区域的显示方式. 当没有足够宽度显示所有内容时, 会将内容折叠到一个下拉菜单中.
 *
 * 下拉菜单将使用 secondary slot 中子元素的 props, children 属性创建 MenuItem 组件.
 * @param vnodes
 * @param isCollapse
 */
function adaptiveSecondarySection(vnodes: Array<VNode>, isCollapse: boolean): Array<VNode> {
  if (!isCollapse) return vnodes;

  const dropdownMenuItems: Array<VNode> = [];

  for (let i = 0; i < vnodes.length; i++) {
    const vnode = vnodes[i];

    dropdownMenuItems.push(
      <MenuItem {...vnode.props}>{{ ...(vnode.children as Slots) }}</MenuItem>
    );
  }

  if (dropdownMenuItems.length <= 0) return [];

  return [
    <DropdownButton>
      {{
        default: () => "更多",
        overlay: () => <Menu>{dropdownMenuItems}</Menu>
      }}
    </DropdownButton>
  ];
}
</script>

<style lang="less">
.n-toolbar {
  display: flex;
  align-items: center;

  .n-toolbar__primary-section {
    overflow: hidden;
  }

  .n-toolbar__secondary-section {
    overflow: hidden;
  }
}

.n-toolbar__column-settings-modal {
  .ant-modal-confirm-btns {
    display: none;
  }
}

.n-toolbar__common-section {
  .n-toolbar__common-section-button {
    padding: 0;
  }
}

.n-toolbar__common-section-button {
  color: #8c8c8c;
}
</style>
