<template>
  <div class="table-columns-order-list" ref="containerRef">
    <List size="small">
      <template #header>
        <div>排序</div>
      </template>
      <Collapse size="small" v-model:active-key="collapseActiveKeys">
        <template #expandIcon="{ isActive }">
          <CaretRightOutlined :rotate="isActive ? 90 : 0" />
        </template>
        <template v-if="leftVisibleColumns.length > 0">
          <CollapsePanel header="左侧固定列" force-render key="left">
            <div class="sortable-list-group sortable-list-group__left">
              <template v-for="item in leftVisibleColumns" :key="item.order">
                <ListItem class="ant-table-cell-ellipsis" :title="item.title">
                  <DragOutlined class="sortable-list-item__handle" />
                  {{ item.title }}
                </ListItem>
              </template>
            </div>
          </CollapsePanel>
        </template>
        <template v-if="middleVisibleColumns.length > 0">
          <CollapsePanel header="非固定列" force-render key="middle">
            <div class="sortable-list-group sortable-list-group__middle">
              <template v-for="item in middleVisibleColumns" :key="item.order">
                <ListItem class="ant-table-cell-ellipsis" :title="item.title">
                  <DragOutlined class="sortable-list-item__handle" />
                  {{ item.title }}
                </ListItem>
              </template>
            </div>
          </CollapsePanel>
        </template>
        <template v-if="rightVisibleColumns.length > 0">
          <CollapsePanel header="右侧固定列" force-render key="right">
            <div class="sortable-list-group sortable-list-group__right">
              <template v-for="item in rightVisibleColumns" :key="item.order">
                <ListItem class="ant-table-cell-ellipsis" :title="item.title">
                  <DragOutlined class="sortable-list-item__handle" />
                  {{ item.title }}
                </ListItem>
              </template>
            </div>
          </CollapsePanel>
        </template>
      </Collapse>
    </List>
  </div>
</template>

<script lang="tsx" setup>
import { computed, nextTick, onMounted, ref, toRef, toRefs, watch } from "vue";
import type { PropType } from "vue";
import { List, ListItem, Collapse, CollapsePanel } from "ant-design-vue";
import { CaretRightOutlined, DragOutlined } from "@ant-design/icons-vue";
import { useSortable } from "@vueuse/integrations/useSortable";
import type { NTableColumn } from "../n-table";
import { joinDataIndex } from "../utils";
import { SimpleStorage } from "../../storage";

const props = defineProps({
  columns: {
    type: Array as PropType<Array<NTableColumn>>,
    required: true
  },
  /**
   * 不可编辑的表格列 key 的数组.
   */
  disabledColumnKeys: {
    type: Array as PropType<Array<string>>,
    default: () => []
  },
  storage: {
    type: SimpleStorage,
    required: true
  }
});
const { columns, disabledColumnKeys } = toRefs(props);

const collapseActiveKeys = ref(["left", "middle", "right"]);

// 被禁用的表格列数据
const disabledColumnKeySet = new Set();
watch(
  disabledColumnKeys,
  (disabledColumnKeys) => {
    disabledColumnKeySet.clear();
    for (let i = disabledColumnKeys.length; i--; ) disabledColumnKeySet.add(disabledColumnKeys[i]);
  },
  { immediate: true }
);

const containerRef = ref<HTMLElement>();

const leftVisibleColumns = ref<Array<NTableColumn>>([]);
const leftSortableListRef = computed<HTMLElement | null | undefined>(() =>
  containerRef.value?.querySelector(".sortable-list-group__left")
);
const middleVisibleColumns = ref<Array<NTableColumn>>([]);
const middleSortableListRef = computed<HTMLElement | null | undefined>(() =>
  containerRef.value?.querySelector(".sortable-list-group__middle")
);
const rightVisibleColumns = ref<Array<NTableColumn>>([]);
const rightSortableListRef = computed<HTMLElement | null | undefined>(() =>
  containerRef.value?.querySelector(".sortable-list-group__right")
);

watch(
  () =>
    columns.value.map((column) => ({
      order: column.order,
      fixed: column.fixed,
      visible: column.visible
    })),
  () => {
    const _columns = columns.value.sort((a, b) => a.order - b.order);

    leftVisibleColumns.value = [];
    middleVisibleColumns.value = [];
    rightVisibleColumns.value = [];

    for (let i = 0; i < _columns.length; i++) {
      const record = _columns[i];

      if (record.visible === false || disabledColumnKeySet.has(record.dataIndex)) continue;

      switch (record.fixed) {
        case "left":
          leftVisibleColumns.value.push(record);
          break;
        case "right":
          rightVisibleColumns.value.push(record);
          break;
        default:
          middleVisibleColumns.value.push(record);
      }
    }
  },
  { immediate: true }
);

onMounted(() =>
  setTimeout(() => {
    useSortable(leftSortableListRef, leftVisibleColumns, {
      onEnd: () =>
        nextTick(() => {
          const orders = leftVisibleColumns.value.map((item) => item.order).sort((a, b) => a - b);
          for (let i = 0; i < orders.length; i++) {
            const record = leftVisibleColumns.value[i];

            record.order = orders[i];
            handleColumnOrderChange(joinDataIndex(record.dataIndex!), record.order);
          }
        }),
      handle: ".sortable-list-item__handle",
      animation: 150
    });
    useSortable(middleSortableListRef, middleVisibleColumns, {
      onEnd: () =>
        nextTick(() => {
          const orders = middleVisibleColumns.value.map((item) => item.order).sort((a, b) => a - b);
          for (let i = 0; i < orders.length; i++) {
            const record = middleVisibleColumns.value[i];

            record.order = orders[i];
            handleColumnOrderChange(joinDataIndex(record.dataIndex!), record.order);
          }
        }),
      handle: ".sortable-list-item__handle",
      animation: 150
    });
    useSortable(rightSortableListRef, rightVisibleColumns, {
      onEnd: () =>
        nextTick(() => {
          const orders = rightVisibleColumns.value.map((item) => item.order).sort((a, b) => a - b);
          for (let i = 0; i < orders.length; i++) {
            const record = rightVisibleColumns.value[i];

            record.order = orders[i];
            handleColumnOrderChange(joinDataIndex(record.dataIndex!), record.order);
          }
        }),
      handle: ".sortable-list-item__handle",
      animation: 150
    });
  })
);

/***************************** 本地存储 ***************************/
const storage = toRef(props, "storage");
const columnsOrderStorage = storage.value.derive("columnsOrder");
const handleColumnOrderChange = (key: string, order: number) => columnsOrderStorage.set(key, order);
</script>

<style lang="scss" scoped>
.table-columns-order-list {
  :deep(.ant-collapse) {
    border: none;
  }

  :deep(.ant-collapse-header) {
    padding: 6px 8px !important;
    border: none;

    font-size: 12px;
  }

  :deep(.ant-collapse-content-box) {
    padding: 0 !important;
  }

  :deep(.ant-list-header) {
    padding: 8px;
    background-color: #fafafa;
  }

  :deep(.ant-list-item) {
    padding-left: 8px;

    .sortable-list-item__handle {
      cursor: move;
    }
  }
}
</style>
