<template>
  <div class="settings-modal">
    <NEasyTable
      class="settings-table"
      :table-helper="tableHelper"
      :columns="columns"
      :row-class-name="stripedRowClassName"
      @change="onChange"
    >
      <!--      <template #headerCell="{ record, column }">-->
      <!--        <template v-if="column.dataIndex === 'checkbox'">-->
      <!--          <Checkbox-->
      <!--            :indeterminate="!rowSelection.isNoneSelected() && !rowSelection.isAllSelected()"-->
      <!--            :checked="rowSelection.isAllSelected(record)"-->
      <!--            @change="handleRowSelectionSelectAll"-->
      <!--          >-->
      <!--            显示-->
      <!--          </Checkbox>-->
      <!--        </template>-->
      <!--      </template>-->
      <template #bodyCell="{ column, record, index }">
        <template v-if="column.dataIndex === 'checkbox'">
          <Checkbox
            :checked="rowSelection.isSelected(record)"
            :disabled="disabledColumnKeySet.has(record.dataIndex) || !isNil(record.fixed)"
            @change="handleRowSelectionSelect(record)"
          />
        </template>
        <template v-else-if="column.dataIndex === 'width'">
          <template v-if="isNumber(record.width)">
            <InputNumber
              v-model:value="record.width"
              :disabled="disabledColumnKeySet.has(record.dataIndex)"
              :min="50"
              :max="1000"
              @change="handleColumnWidthChange(record.dataIndex, record.width)"
            />
          </template>
          <template v-else>--</template>
        </template>
        <template v-else-if="column.dataIndex === 'fixed'">
          <RadioGroup
            class="settings-fixed-radio-group"
            :value="record.fixed"
            @update:value="(value) => handleSyncColumnFixedChange(index, record.dataIndex, value)"
            size="small"
            :disabled="disabledColumnKeySet.has(record.dataIndex)"
          >
            <RadioButton value="left" :disabled="!isLeftFixable(index)">左侧</RadioButton>
            <radio-button>不固定</radio-button>
            <radio-button value="right" :disabled="!isRightFixable(index)">右侧</radio-button>
          </RadioGroup>
        </template>
      </template>
    </NEasyTable>
    <Divider type="vertical" style="height: 100%" />
    <TableColumnsOrderList
      class="settings-sortable-list"
      :storage="storage"
      :columns="tableHelper.dataSource"
      :disabled-column-keys="disabledColumnKeys"
    />
  </div>
</template>

<script lang="tsx" setup>
import { toRef, watch } from "vue";
import type { PropType } from "vue";
import { InputNumber, Divider, RadioGroup, RadioButton, Checkbox, Modal } from "ant-design-vue";
import { isNil, isNumber } from "lodash-es";
import { NEasyTable, useAntDesignVueTableHelper } from "../n-table";
import type { NTableColumn } from "../n-table";
import { joinDataIndex } from "../utils";
import { SimpleStorage } from "../../storage";
import type { FixedType } from "ant-design-vue/lib/vc-table/interface";
import TableColumnsOrderList from "./TableColumnsOrderList.vue";

const props = defineProps({
  columns: {
    type: Array as PropType<Array<NTableColumn>>,
    required: true
  },
  /**
   * 不可编辑的表格列 key 的数组.
   */
  disabledColumnKeys: {
    type: Array as PropType<Array<string>>,
    default: () => []
  },
  storage: {
    type: SimpleStorage,
    required: true
  }
});

// const emit = defineEmits(["update:columns"]);

const {
  tableHelper,
  rowSelection,
  // searchForm,
  columns,
  onChange
} = useAntDesignVueTableHelper(
  () => {
    const dataSource = props.columns || [];

    return {
      data: dataSource,
      total: dataSource.length
    };
  },
  [
    { title: "显示", dataIndex: "checkbox", width: 80 },
    { title: "列名", dataIndex: "title", ellipsis: true },
    // 业务需求: 移除列宽设置
    // { title: "列宽", dataIndex: "width", width: 100 },
    { title: "固定", dataIndex: "fixed", width: 160 }
  ],
  "dataIndex",
  { showPagination: false }
);

tableHelper.loadRecord(true);

tableHelper.on("recordLoadEnd", () => {
  for (let i = tableHelper.dataSource.length; i--; ) {
    const record = tableHelper.dataSource[i];
    if (record.visible === false) continue;

    rowSelection.select(record, record.visible, true);
  }
});

// 被禁用的表格列数据
const disabledColumnKeySet = new Set();
watch(
  toRef(props, "disabledColumnKeys"),
  (disabledColumnKeys) => {
    disabledColumnKeySet.clear();
    for (let i = disabledColumnKeys.length; i--; ) disabledColumnKeySet.add(disabledColumnKeys[i]);

    rowSelection.disabledRowKeys = disabledColumnKeys;
  },
  { immediate: true }
);

// function handleRowSelectionSelectAll() {
//   rowSelection.selectAll();
//   tableHelper.dataSource.forEach((record) => syncColumnVisibleState(record));
// }

function handleRowSelectionSelect(record: NTableColumn) {
  rowSelection.select(record);
  syncColumnVisibleState(record);
}

function syncColumnVisibleState(record: NTableColumn) {
  record.visible = rowSelection.isSelected(record);
  handleColumnVisibleChange(joinDataIndex(record.dataIndex!), record.visible);
}

/**
 * 当满足以下任一条件时, 该列可以固定到左侧:
 * * 该列是第一列
 * * 该列的前一列是固定到左侧的
 */
function isLeftFixable(index: number) {
  const prevRecord = tableHelper.dataSource[index - 1];
  return index === 0 || prevRecord.fixed === "left";
}

/**
 * 当满足以下任一条件时, 该列可以固定到右侧:
 * * 该列是最后一列
 * * 该列的后一列是固定到右侧的
 */
function isRightFixable(index: number) {
  const nextRecord = tableHelper.dataSource[index + 1];
  return index === tableHelper.dataSource.length - 1 || nextRecord.fixed === "right";
}

/**
 * 当列的固定状态发生变化时, 同步到对应的列并修改该列前后列的固定状态.
 * 列允许的固定状态可参考 {@link isLeftFixable} 和 {@link isRightFixable}.
 * @param index
 * @param key
 * @param fixed
 */
async function handleSyncColumnFixedChange(index: number, key: string, fixed: string) {
  const currentRecord = tableHelper.dataSource[index];

  // 设置为左右侧固定时, 跳过
  if (fixed === "left" || fixed === "right") {
    currentRecord.fixed = fixed;
    handleColumnFixedChange(key, fixed);
    return;
  }

  const indirectChangedRecords: Array<NTableColumn> = [currentRecord];
  if (currentRecord.fixed === "left") {
    // 当前列是固定在左侧时, 需要修改后面的列
    for (let i = index + 1; i < tableHelper.dataSource.length; i++) {
      const record = tableHelper.dataSource[i];
      if (record.fixed !== "left") break;

      indirectChangedRecords.push(record);
    }
  } else if (currentRecord.fixed === "right") {
    // 当前列是固定在右侧时, 需要修改前面的列
    for (let i = index - 1; i >= 0; i--) {
      const record = tableHelper.dataSource[i];
      if (record.fixed !== "right") break;

      indirectChangedRecords.push(record);
    }
  }

  try {
    // 会影响到其他列的固定状态时, 需要提示
    if (indirectChangedRecords.length > 1) {
      await new Promise<void>((resolve, reject) => {
        Modal.confirm({
          title: "提示",
          content: "将该列取消固定会导致前后列的固定状态发生变化, 是否继续?",
          onOk: () => resolve(),
          onCancel: () => reject()
        });
      });
    }

    for (let i = indirectChangedRecords.length; i--; ) {
      const record = indirectChangedRecords[i];
      record.fixed = undefined;
      handleColumnFixedChange(joinDataIndex(record.dataIndex!), record.fixed);
    }
  } catch (e) {
    // 取消时, 忽略
  }
}

/***************************** 本地存储 ***************************/
const storage = toRef(props, "storage");
const columnsWidthStorage = storage.value.derive("columnsWidth");
const handleColumnWidthChange = (key: string, width: number) => columnsWidthStorage.set(key, width);
const columnsFixedStorage = storage.value.derive("columnsFixed");
const handleColumnFixedChange = (key: string, fixed: FixedType | undefined) =>
  isNil(fixed) ? columnsFixedStorage.delete(key) : columnsFixedStorage.set(key, fixed);
const columnsVisibleStorage = storage.value.derive("columnsVisible");
const handleColumnVisibleChange = (key: string, visible: boolean) =>
  columnsVisibleStorage.set(key, visible);

const stripedRowClassName = (_: unknown, index: number) => (index % 2 === 1 ? "table-striped" : "");
</script>

<style lang="scss"></style>
<style lang="scss" scoped>
.settings-modal {
  display: flex;
  height: 512px;

  .settings-table {
    flex: 1 1 auto;

    :deep(.table-striped) td {
      background-color: #fafafa;
    }

    .settings-fixed-radio-group {
      white-space: nowrap;
    }
  }

  .settings-sortable-list {
    flex: 0 0 200px;

    overflow-y: auto;
    overflow-x: hidden;
  }
}
</style>
