<script lang="tsx">
import { computed, defineComponent, ref, toRefs } from "vue";
import {
  type NPrintBaseCustomPrintFunc,
  type NPrintBaseInstance,
  NPrintPagingMode
} from "../print-types";
import { isFunction, isNil, isString, random } from "lodash-es";
import { composeAtPageStyle } from "../utils";
import NPrintBase from "../NPrintBase.vue";
import { getLodop, loadCLodop } from "./lodop-loader";
import { composePageProps } from "../use-composed-page-props";
import { toPx } from "../../utils/physical-unit-conversion";
import { NPrintLodopPagingMode, nPrintLodopProps } from "./lodop-print-types";
import { useVueToPrint } from "vue-to-print";

export default defineComponent({
  name: "NPrintLodop",
  props: nPrintLodopProps(),
  setup(props, { emit, attrs, slots, expose }) {
    let lodop: any;

    const { customLodop, serviceConfig, pagingMode } = toRefs(props);
    const _customLodop = computed(() =>
      isFunction(customLodop.value)
        ? { all: customLodop.value }
        : { print: customLodop.value?.print }
    );
    /**
     * LODOP 特有的 {@link NPrintLodopPagingMode.TABLE} 模式. 对 {@link NPrintBase} 表现为 {@link NPrintPagingMode.AUTO}.
     */
    const passedToBasePrintPagingMode = computed(() =>
      pagingMode.value === NPrintLodopPagingMode.TABLE ? NPrintPagingMode.AUTO : pagingMode.value
    );

    const customPrint: NPrintBaseCustomPrintFunc = async (props, element) => {
      // 初始化 LODOP
      if (isNil(lodop)) {
        const { hostname, port, standbyPort } = serviceConfig.value;
        await loadCLodop(hostname, port, standbyPort);
        lodop = getLodop();
      }

      const {
        title,
        size,
        orientation,
        margin,
        padding,
        pagingMode: passedToBasePrintPagingMode
      } = toRefs(props);

      // 根据传入的参数, 计算出页面属性.
      const pageProps = composePageProps(
        passedToBasePrintPagingMode.value,
        size.value,
        orientation.value,
        margin.value,
        padding.value
      );

      const printByLodop = async (iframe: HTMLIFrameElement) => {
        const printDocument = iframe.contentDocument ?? iframe.contentWindow?.document;
        if (isNil(printDocument)) throw new Error("打印内容为空");

        const printContent = printDocument.body;
        const printHead = printDocument.head;

        /**
         * 获取所有 {@link NPrintPage} 组件的内容.
         */
        const pages = printContent.querySelectorAll<HTMLDivElement>(".n-print-page__wrap");

        let addPrintFuncName;
        let top = 0,
          left = 0,
          bottom = 0,
          right = 0;
        /**
         * 是否需要 LODOP 进行分页.
         *
         * * `true`: 内容将按 {@link NPrintPage} 组件进行分页. 不同页的内容将被强制分页.
         * * `false`: 多个 {@link NPrintPage} 组件中的内容将被组合成一页.
         */
        let pagingByLodop = true;
        switch (pagingMode.value) {
          case NPrintPagingMode.AUTO:
          case NPrintPagingMode.CLIP:
            addPrintFuncName = "ADD_PRINT_HTM";
            break;
          case NPrintPagingMode.COMPACT:
            addPrintFuncName = "ADD_PRINT_HTM";
            pagingByLodop = false;
            break;
          case NPrintLodopPagingMode.TABLE:
            /**
             * LODOP 调用 ADD_PRINT_TABLE 时, 打印内容中至少要存在一个 `table` 元素.
             */
            if (isNil(printContent.querySelector("table")))
              throw new Error("在 TABLE 模式下, 打印内容中至少要存在一个 `table` 元素.");

            addPrintFuncName = "ADD_PRINT_TABLE";
            /**
             * ADD_PRINT_TABLE 模式下, padding-top 无效, 手动调整 top 值.
             */
            top = toPx(pageProps.margin.top) + toPx(pageProps.padding.top);
            bottom = toPx(pageProps.margin.bottom) + toPx(pageProps.padding.bottom);
            break;
          default:
            throw new Error(`未知的分页模式: ${pagingMode.value}`);
        }

        // PRINT_INIT 传入的参数如果为空字符串, 会导致 LODOP 报错. 所以这里做一下处理, 如果为空字符串, 则传入一个随机字符串.
        lodop.PRINT_INIT(
          isString(title.value) && title.value.length > 0
            ? title.value
            : `n-print-lodop-${random(100000, 999999)}`
        );

        /**
         * 根据 {@link pagingByLodop} 判断是否需要将 {@link NPrintPage} 组件中的内容组合到一页中.
         */
        const pageStrList: Array<string> = pagingByLodop ? [] : [""];
        for (let i = 0; i < pages.length; i++) {
          const page = pages[i];

          if (pagingByLodop) {
            pageStrList.push(page.outerHTML);
          } else {
            pageStrList[0] += page.outerHTML;
          }
        }

        // 调用 LODOP 接口开始打印.
        for (let i = 0; i < pageStrList.length; i++) {
          const pageStr = pageStrList[i];

          lodop.NewPageA();
          lodop[addPrintFuncName](
            top,
            left,
            `RightMargin:${right}px`,
            `BottomMargin:${bottom}px`,
            printHead.innerHTML + pageStr
          );
        }

        if (isFunction(_customLodop.value.print)) {
          await _customLodop.value.print(pageProps, iframe, lodop);
        } else {
          const printCount = await new Promise<number>((resolve) => {
            const taskId = lodop.PREVIEW();
            lodop.On_Return = (_taskId: string, printCount: number) => {
              if (taskId !== _taskId) return;

              resolve(printCount);
            };
          });

          emit("close", printCount);
        }
      };

      try {
        await new Promise<void>((resolve, reject) => {
          const { handlePrint } = useVueToPrint({
            content: () => element,
            documentTitle: title.value,
            pageStyle: [composeAtPageStyle(size.value, orientation.value)].join("\n"),
            print: async (iframe: HTMLIFrameElement) =>
              isFunction(_customLodop.value.all)
                ? await _customLodop.value.all(pageProps, iframe, lodop)
                : await printByLodop(iframe),
            onPrintError: (errorLocation: string, error: Error) => reject(error),
            onAfterPrint: () => resolve(),
            removeAfterPrint: true
          });

          handlePrint();
        });
      } catch (error) {
        emit("error", error);
        throw error;
      }
    };

    const nPrintBaseRef = ref<NPrintBaseInstance>();

    expose({
      print: () => nPrintBaseRef.value?.print()
    });

    return () => (
      <NPrintBase
        ref={nPrintBaseRef}
        {...{ ...props, onClose: undefined, pagingMode: passedToBasePrintPagingMode.value }}
        {...attrs}
        customPrint={customPrint}
      >
        {slots}
      </NPrintBase>
    );
  }
});
</script>

<style lang="scss" scoped></style>
