<script lang="tsx">
import { defineComponent, ref } from "vue";
import type { SetupContext, Ref } from "vue";
import { Progress } from "ant-design-vue";
import type { UploadProps } from "ant-design-vue";
import type { NUploadProps } from "./upload-types";
import NUpload from "./NUpload.vue";
import { NButton } from "../n-button";
import type { UploadFileStatus } from "ant-design-vue/lib/upload/interface";
import type { ProgressStatusesType } from "ant-design-vue/lib/progress/props";

export default defineComponent<NUploadProps>({
  name: "NUploadButton",
  setup(props, { slots, attrs }: SetupContext) {
    const uploadPercent = ref(0);
    const uploadProgressStatus = ref("normal") as Ref<ProgressStatusesType>;
    const isUploading = ref(false);

    const uploadStatusMapToProgressStatus: Record<UploadFileStatus, ProgressStatusesType> = {
      error: "exception",
      success: "success",
      done: "success",
      uploading: "active",
      removed: "normal"
    };
    const handleFileChange: UploadProps["onChange"] = ({ file }) => {
      const status = file.status || "done";
      const percent = file.percent ?? 0;

      switch (status) {
        case "uploading":
          if (percent >= 100) {
            uploadPercent.value = percent;
            isUploading.value = false;
          } else {
            uploadPercent.value = percent;
            isUploading.value = true;
          }
          break;
        case "done":
        case "success":
          uploadPercent.value = 0;
          isUploading.value = false;
          break;
        default:
          isUploading.value = false;
      }

      uploadProgressStatus.value = uploadStatusMapToProgressStatus[status];
    };

    return () => (
      <NUpload showUploadList={false} {...attrs} onChange={handleFileChange}>
        {{
          ...slots,
          default: () => (
            <NButton
              {...attrs}
              class="n-upload-button"
              disabled={isUploading.value}
              danger={uploadProgressStatus.value === "exception"}
            >
              {slots.default?.()}
              <Progress
                class="n-upload-button__progress"
                type="line"
                strokeWidth={2}
                showInfo={false}
                percent={uploadPercent.value}
                status={uploadProgressStatus.value}
              ></Progress>
            </NButton>
          )
        }}
      </NUpload>
    );
  }
});
</script>

<style lang="scss">
.n-upload-button {
  position: relative;

  display: inline-flex;
  flex-direction: column;

  .n-upload-button__progress {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;

    .ant-progress-outer {
      display: flex;
    }

    .ant-progress-inner {
      background-color: transparent;
    }
  }
}
</style>
