<script lang="tsx">
import { defineComponent, onUnmounted, ref, toRefs } from "vue";
import type { SetupContext } from "vue";
import { Image, ImagePreviewGroup } from "ant-design-vue";
import type { UploadFile } from "ant-design-vue";
import { isImageUrl } from "ant-design-vue/lib/upload/utils";
import { PlusOutlined } from "@ant-design/icons-vue";
import type { NUploadPictureCardProps } from "./upload-types";
import NUpload from "./NUpload.vue";
import { nUploadPictureCardProps } from "./upload-types";
import { isString } from "lodash-es";

export default defineComponent<NUploadPictureCardProps>({
  name: "NUploadPictureCard",
  props: nUploadPictureCardProps() as any,
  setup(props, { slots, attrs }: SetupContext) {
    const { fileList } = toRefs(props);
    const previewGroupVisible = ref(false);
    const previewGroupCurrent = ref(0);

    const handlePreview = (file: UploadFile) => {
      previewGroupCurrent.value = Math.max(0, (fileList.value ?? []).indexOf(file));
      previewGroupVisible.value = true;
    };

    const imagePreviewUrlMap = new Map<string, string>();
    onUnmounted(() => imagePreviewUrlMap.clear());

    return () => {
      const imagePreview = (
        <div style="display: none;">
          <ImagePreviewGroup
            {...{
              preview: {
                visible: previewGroupVisible.value,
                onVisibleChange: (visible: boolean) => (previewGroupVisible.value = visible),
                current: previewGroupCurrent.value
              }
            }}
          >
            {(fileList.value ?? [])
              .filter((file) => isImageUrl(file))
              .map((file) => {
                if (isString(file.url) && file.url.length > 0) return <Image src={file.url} />;

                if (!imagePreviewUrlMap.has(file.uid))
                  imagePreviewUrlMap.set(file.uid, URL.createObjectURL(file.originFileObj!));

                return <Image src={imagePreviewUrlMap.get(file.uid)} />;
              })}
          </ImagePreviewGroup>
        </div>
      );

      return (
        <NUpload
          fileList={fileList.value}
          listType="picture-card"
          onPreview={handlePreview}
          {...attrs}
        >
          {{
            ...slots,
            default: () => (
              <div>
                <PlusOutlined />
                <br />
                上传
                {imagePreview}
              </div>
            )
          }}
        </NUpload>
      );
    };
  }
});
</script>

<style lang="scss"></style>
