<script lang="tsx">
import { Upload } from "ant-design-vue";
import type { UploadFile } from "ant-design-vue";
import { defineComponent, nextTick, onUnmounted, toRefs } from "vue";
import type { SetupContext } from "vue";
import { nUploadProps } from "./upload-types";
import type { NUploadProps } from "./upload-types";
import { useSpecInject } from "../utils/hooks";
import type {
  UploadRequestOption,
  UploadRequestError
} from "ant-design-vue/lib/vc-upload/interface";
import { isFunction, isNil } from "lodash-es";
import { NButton } from "../n-button";
import { EyeOutlined, ReloadOutlined } from "@ant-design/icons-vue";
import { downloadFile } from "../utils/download-file";

export default defineComponent<NUploadProps>({
  name: "NUpload",
  props: nUploadProps() as any,
  setup(props, { slots, emit, attrs }: SetupContext) {
    const { upload: UploadSpecConfig } = useSpecInject("upload");
    const { limit, customRequest } = toRefs(props);

    const uploadRequestOptionsMap = new Map<string, UploadRequestOption>();
    onUnmounted(() => uploadRequestOptionsMap.clear());
    async function handleCustomRequest(options: UploadRequestOption): Promise<void> {
      const file = options.file as UploadFile;
      uploadRequestOptionsMap.set(file.uid, options);

      try {
        isFunction(customRequest.value)
          ? customRequest.value?.(options)
          : UploadSpecConfig.value.customRequest?.(options);
      } catch (e) {
        nextTick(() => options.onError?.(e as UploadRequestError));
      }
    }

    async function handleBeforeUpload(file: File): Promise<boolean | string> {
      const limitWidth = limit.value?.width || Number.MAX_SAFE_INTEGER;
      const limitHeight = limit.value?.height || Number.MAX_SAFE_INTEGER;
      const limitSize = limit.value?.size || Number.MAX_SAFE_INTEGER;

      const { width, height } = await new Promise<{ width: number; height: number }>((resolve) => {
        try {
          const image = new Image();
          image.src = URL.createObjectURL(file);
          image.onload = () => {
            resolve({ width: image.width, height: image.height });
            URL.revokeObjectURL(image.src);
          };
          image.onerror = () => {
            resolve({ width: 0, height: 0 });
            URL.revokeObjectURL(image.src);
          };
        } catch (e) {
          console.error(e);
          resolve({ width: 0, height: 0 });
        }
      });

      if (width > limitWidth || height > limitHeight) {
        emit(
          "error",
          new Error(`图片宽高(${width}, ${height})超出限制(${limitWidth}, ${limitHeight})`)
        );
        return Upload.LIST_IGNORE;
      } else if (file.size > limitSize) {
        emit("error", new Error(`图片大小超出限制`));
        return Upload.LIST_IGNORE;
      }

      return true;
    }

    /**
     * 重新上传
     * @param event
     * @param file
     */
    function handleReupload(event: MouseEvent, file: UploadFile): void {
      event.stopPropagation();
      event.preventDefault();

      const options = uploadRequestOptionsMap.get(file.uid);
      if (isNil(options)) return;

      file.status = "uploading";
      handleCustomRequest(options);
    }

    const handleDownload = (file: UploadFile) => {
      const url = file.url || file.originFileObj;
      if (isNil(url)) return;

      downloadFile(url, file.name);
    };

    return () => (
      <Upload
        action={UploadSpecConfig.value.action}
        method={UploadSpecConfig.value.method}
        {...attrs}
        beforeUpload={handleBeforeUpload}
        customRequest={handleCustomRequest}
        onDownload={handleDownload}
      >
        {{
          ...slots,
          previewIcon: ({ file }: { file: UploadFile }) => {
            if (file.status === "error") {
              return (
                <NButton
                  type="text"
                  size="small"
                  style="color: hsla(0,0%,100%,.85);"
                  title="重新上传"
                  onClick={(ev: MouseEvent) => handleReupload(ev, file)}
                >
                  {{ icon: () => <ReloadOutlined /> }}
                </NButton>
              );
            } else {
              return (
                <NButton type="text" size="small" style="color: hsla(0,0%,100%,.85);">
                  {{ icon: () => <EyeOutlined /> }}
                </NButton>
              );
            }
          }
        }}
      </Upload>
    );
  }
});
</script>

<style></style>
