<script lang="tsx">
import { Space } from "ant-design-vue";
import type { SpaceProps } from "ant-design-vue";
import { defineComponent } from "vue";
import type { DefineComponent } from "vue";
import { type NSpaceProps, nSpaceProps } from "./space-types";

export default defineComponent({
  name: "NSpace",
  props: nSpaceProps(),
  setup(props, { slots, attrs }) {
    return () => {
      return (
        <Space {...props} {...attrs}>
          {{ ...slots }}
        </Space>
      );
    };
  }
}) as DefineComponent<SpaceProps & Partial<NSpaceProps>>;
</script>

<style lang="less"></style>
