// #region template
<template>
  <a-space>当前响应式断点: {{ breakPoint }}</a-space>
  <NForm v-model:data="responsiveData" :fields="responsiveFields" :field-layout="responsiveData" />
  <NEasyForm
    :field-layout="responsiveData"
    ref="nEasyFormRef"
    v-model:data="data"
    :fields="fields"
    @search="handleSearch"
    @reset="handleReset"
    @change="handleChange"
  />
</template>
// #endregion template

<script setup>
// #region script

import { ref, watch } from "vue";
import { FormItemControlType, useResponsive } from "@nbicc/common-components";

const data = ref({});
const fields = ref([
  { name: "input", label: "输入框输入框输入框输入框", type: FormItemControlType.INPUT },
  { name: "input-number", label: "数字输入框", type: FormItemControlType.INPUT_NUMBER },
  [
    { name: "select", label: "下拉框", type: FormItemControlType.SELECT },
    {
      options: [
        { label: "option1", value: "option1" },
        { label: "option2", value: "option2" },
        { label: "option3", value: "option3" }
      ]
    }
  ],
  { name: "date-picker", label: "日期选择器", type: FormItemControlType.DATE_PICKER },
  { name: "time-picker", label: "时间选择器", type: FormItemControlType.TIME_PICKER },
  { name: "switch", label: "开关", type: FormItemControlType.SWITCH },
  [
    { name: "radio", label: "单选框", type: FormItemControlType.RADIO_GROUP },
    {
      options: [
        { label: "option1", value: "option1" },
        { label: "option2", value: "option2" },
        { label: "option3", value: "option3" }
      ]
    }
  ],
  [
    { name: "checkbox", label: "多选框", type: FormItemControlType.CHECKBOX_GROUP },
    {
      options: [
        { label: "option1", value: "option1" },
        { label: "option2", value: "option2" },
        { label: "option3", value: "option3" }
      ]
    }
  ],
  { name: "textarea", label: "文本域", type: FormItemControlType.TEXT_AREA },
  { name: "slider", label: "滑块", type: FormItemControlType.SLIDER },
  { name: "tree-select", label: "树选择器", type: FormItemControlType.TREE_SELECT },
  { name: "cascader", label: "级联选择器", type: FormItemControlType.CASCADER }
]);
watch(data, () => console.log(data.value));

const responsiveFields = ref(
  ["xs", "sm", "md", "lg", "xl", "xxl", "xxxl"].map((item) => ({
    name: item,
    label: item,
    type: FormItemControlType.INPUT_NUMBER
  }))
);
const responsiveData = ref({
  xs: 24,
  sm: 12,
  md: 12,
  lg: 8,
  xl: 6,
  gutter: [16, 0]
});

const { breakPoint } = useResponsive();
watch(breakPoint, (value) => console.log(value), { immediate: true });

function handleSearch() {
  console.log("search");
}

function handleReset() {
  console.log("reset");
}

function handleChange(data) {
  console.log(data);
}

const nEasyFormRef = ref();

// #endregion script
</script>

<style scoped lang="less"></style>
